.footer
	.wrapper
		.group.group--footer
			a(href='#').logo
			.menu.menu--footer
				a.menu__link(href="#") Главная
				a.menu__link(href="#") Общение
				a.menu__link(href="#") Дневники
				a.menu__link(href="#") Поиск подруг
				a.menu__link(href="#") Полезные статьи
			.social
				img(src="images/temp/footer-social.jpg")
