.header
	.wrapper.wrapper--pink
		.header__top
			a(href='#').logo
			.group.group--search-menu
				.form-search.form-search--header
					form
						label.form-search__search-line--icons-search
						input(type="text", placeholder="Введите запрос для поиска").form-search__search-line.form-search__search-line--gray
						input(type="submit", value="Найти").form-search__search-button.form-search__search-button--gray
				// end form-search
				.menu
					a.menu__link(href="#") Главная
					a.menu__link(href="#") Общение
					a.menu__link(href="#") Дневники
					a.menu__link(href="#") Поиск подруг
					a.menu__link(href="#") Полезные статьи
			// end group--search-menu
			.registration-enter
				img(src="images/temp/avatar-registration-enter.png").registration-enter__avatar
				.group.group--links
					a(href="#").links.links--blue.registration-enter__link--enter Войти
					a(href="#").links.links--blue.registration-enter__link--registration Регистрация
					span.registration-enter__link-social через
						img(src="images/temp/registration-enter-link-social.png")
		.group.group--photos-wall-speed-registration
			.photos-wall
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-2.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-2.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-2.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-2.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-3.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-2.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-2.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-4.png")
				img.photos-wall__item(src="images/temp/photos-wall-2.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-2.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-2.png")
				img.photos-wall__item.photos-wall__item--long(src="images/temp/photos-wall-5.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-2.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-2.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-2.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-2.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
				img.photos-wall__item(src="images/temp/photos-wall-2.png")
				img.photos-wall__item(src="images/temp/photos-wall-1.png")
			// end photos-wall
			.speed-registration
				span.speed-registration__title.speed-registration__title--top Присоединяйтесь к нам!
				span.speed-registration__title На нашем сайте вы найдете ответ на любой интересующий вас вопрос.
				form
					label.input-line--icons-woman
					input(type="text", placeholder="Ваше имя").input-line.speed-registration__input-line

					label.input-line--icons-letter-small
					input(type="email", placeholder="Эл. почта").input-line.speed-registration__input-line

					label.input-line--icons-lock
					input(type="password", placeholder="Пароль").input-line.speed-registration__input-line
						
					input(type="submit", value="Начать общаться").btn.btn--pink.btn--height45.btn--start-communicating
			// end speed-registration