
<div class="header">
  <div class="wrapper wrapper--gray">
    <div class="header__top"><a href="#" class="logo"></a>
      <div class="group group--search-menu">
        <div class="form-search form-search--header">
          <form>
            <label class="form-search__search-line--icons-search"></label>
            <input type="text" placeholder="Введите запрос для поиска" class="form-search__search-line form-search__search-line--gray"/>
            <input type="submit" value="Найти" class="form-search__search-button form-search__search-button--gray"/>
          </form>
        </div>
        <!-- end form-search-->
        <div class="menu"><a href="#" class="menu__link">Главная</a><a href="#" class="menu__link">Общение</a><a href="#" class="menu__link">Дневники</a><a href="#" class="menu__link">Поиск подруг</a><a href="#" class="menu__link">Полезные статьи</a></div>
      </div>
      <!-- end group--search-menu-->
      <div class="registration-enter"><img src="images/temp/avatar-registration-enter.png" class="registration-enter__avatar"/>
        <div class="group group--links"><a href="#" class="links links--blue registration-enter__link--enter">Войти</a><a href="#" class="links links--blue registration-enter__link--registration">Регистрация</a><span class="registration-enter__link-social">через<img src="images/temp/registration-enter-link-social.png"/></span></div>
      </div>
    </div>
  </div>
</div>