.menu{
	@include flex(flex, space-between, flex-start, row);
	&__link{
		color: #674359;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		border-bottom: 1px solid #cdbec2;
		&:hover{
			border-bottom: 1px solid #674359;
		}
	}
}