html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: Arial;
  font-size: 14px;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  color: #2c5b91;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

.container {
  width: 1200px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
  margin: 0 auto;
}

.wrapper {
  width: 1200px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 35px;
}
.wrapper--pink {
  background-color: #f9f3ef;
}
.wrapper--blue {
  background-color: #e8f4fa;
}
.wrapper--white {
  background-color: #fff;
}
.wrapper--gray {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZjlmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZmFmOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbf9f7), color-stop(100%, #fbfaf9));
  background-image: -moz-linear-gradient(top, #fbf9f7, #fbfaf9);
  background-image: -webkit-linear-gradient(top, #fbf9f7, #fbfaf9);
  background-image: linear-gradient(to bottom, #fbf9f7, #fbfaf9);
}

.btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.btn--white {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  padding: 9px 11px 8px 38px;
  border: 1px solid #d7cebf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #e6e6e6 0px 1px 1px 1px;
  -webkit-box-shadow: #e6e6e6 0px 1px 1px 1px;
  box-shadow: #e6e6e6 0px 1px 1px 1px;
}
.btn--pink {
  color: #fff;
  padding: 9px 23px 8px;
  border: 1px solid #b7225c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #a3a3a3 0px 1px 1px 1px, #d77298 0 1px 1px inset;
  -webkit-box-shadow: #a3a3a3 0px 1px 1px 1px, #d77298 0 1px 1px inset;
  box-shadow: #a3a3a3 0px 1px 1px 1px, #d77298 0 1px 1px inset;
  background-color: #c83e72;
}
.btn--blue {
  color: #fff;
  padding: 9px 23px 8px;
  border: 1px solid #738fad;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #a3a3a3 0px 1px 1px 1px, #99adc3 0 1px 1px inset;
  -webkit-box-shadow: #a3a3a3 0px 1px 1px 1px, #99adc3 0 1px 1px inset;
  box-shadow: #a3a3a3 0px 1px 1px 1px, #99adc3 0 1px 1px inset;
  background-color: #738fad;
}
.btn--height38 {
  padding-top: 12px;
  padding-bottom: 10px;
}
.btn--height45 {
  width: 187px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  font-size: 16px;
}
.btn--long {
  width: 304px;
}
.btn--empty {
  padding: 0;
  width: 36px;
  height: 31px;
}
.btn--write {
  padding-left: 28px;
  padding-right: 24px;
}
.btn--confirm {
  padding-left: 60px;
  padding-right: 45px;
}
.btn--cancel {
  padding-left: 13px;
  padding-right: 13px;
}
.btn--send {
  padding-left: 40px;
  padding-right: 40px;
}
.btn--start-communicating {
  width: 296px;
}
.btn--icons-women:before {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -8px;
  content: "";
}
.btn--icons-letter:before {
  position: absolute;
  left: 9px;
  top: 50%;
  margin-top: -7px;
  content: "";
}
.btn--icons-wifi:before {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -7px;
  content: "";
}
.btn--icons-cogwheel:before {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -8px;
  content: "";
}
.btn--icons-pencil:before {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -7px;
  content: "";
}
.btn--icons-crimson-cross:before {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -5px;
  content: "";
}
.btn--icons-green-check:before {
  position: absolute;
  left: 40px;
  top: 50%;
  margin-top: -5px;
  content: "";
}

.meta-info {
  color: #9b948f;
  font-size: 12px;
  position: relative;
  padding: 0 0 0 16px;
}
.meta-info--comments:before {
  position: absolute;
  left: 0px;
  top: 0px;
  content: "";
}
.meta-info--time:before {
  position: absolute;
  left: 0px;
  top: 0px;
  content: "";
}
.meta-info--likes:before {
  position: absolute;
  left: 0px;
  top: 0px;
  content: "";
}

.links {
  text-decoration: none;
  font-size: 14px;
}
.links--pink {
  color: #c22462;
  border-bottom: 1px solid #edbdd0;
}
.links--pink:hover {
  border-bottom: 1px solid #c22462;
}
.links--blue {
  color: #2c5b91;
  border-bottom: 1px solid #bfcdde;
}
.links--blue:hover {
  border-bottom: 1px solid #2c5b91;
}
.links--link16 {
  font-size: 16px;
}
.links--link12 {
  font-size: 12px;
}
.links--like {
  position: relative;
  margin: 0 0 0 25px;
}
.links--like:before {
  position: absolute;
  left: -25px;
  top: 0px;
  content: "";
}
.links--delete {
  position: relative;
  margin: 0 0 0 18px;
}
.links--delete:before {
  position: absolute;
  left: -18px;
  top: 2px;
  content: "";
}
.links--add {
  position: relative;
  margin: 0 0 0 15px;
}
.links--add:before {
  position: absolute;
  left: -15px;
  top: 2px;
  content: "";
}
.links--diary {
  position: relative;
  margin: 0 0 0 20px;
}
.links--diary:before {
  position: absolute;
  left: -20px;
  top: 2px;
  content: "";
}

.form-search:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.form-search__search-line {
  font-size: 14px;
  float: left;
  color: #bab6b6;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
}
.form-search__search-line--icons-search {
  position: relative;
}
.form-search__search-line--icons-search:before {
  content: ".";
  text-indent: -9999px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.form-search__search-line--gray {
  border: 1px solid #dcdbdb;
  width: 546px;
  height: 34px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 0 0 30px;
}
.form-search__search-line--blue {
  border: 1px solid #dae6f1;
  width: 470px;
  height: 34px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 0 0 15px;
}
.form-search__search-button {
  float: left;
  font-size: 14px;
  position: relative;
  left: -1px;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
  width: 78px;
  height: 34px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  line-height: 34px;
}
.form-search__search-button--gray {
  color: #876f7d;
  border: 1px solid #dcdbdb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZjJlOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f7f2e9));
  background-image: -moz-linear-gradient(top, #ffffff, #f7f2e9);
  background-image: -webkit-linear-gradient(top, #ffffff, #f7f2e9);
  background-image: linear-gradient(to bottom, #ffffff, #f7f2e9);
}
.form-search__search-button--blue {
  border: 1px solid #dae6f1;
  color: #3e526b;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlZTBmMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cee0f0));
  background-image: -moz-linear-gradient(top, #ffffff, #cee0f0);
  background-image: -webkit-linear-gradient(top, #ffffff, #cee0f0);
  background-image: linear-gradient(to bottom, #ffffff, #cee0f0);
}

.add-form {
  position: relative;
}
.add-form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.add-form__add-line {
  background-color: #fff;
  font-size: 14px;
  float: left;
  color: #bab6b6;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #dcdbdb;
  width: 546px;
  height: 34px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 2px 0 2px 5px;
}
.add-form__add-line__user-frame {
  height: 28px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  padding: 1px 10px 1px 2px;
  background-color: #f5f9fb;
}
.add-form__add-line__user-frame__name {
  color: #87496e;
  font-size: 16px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 8px;
}
.add-form__add-button {
  float: left;
  font-size: 14px;
  position: relative;
  left: -1px;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
  width: 45px;
  height: 34px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  line-height: 34px;
}
.add-form__add-button--gray {
  color: #876f7d;
  border: 1px solid #dcdbdb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZjJlOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f7f2e9));
  background-image: -moz-linear-gradient(top, #ffffff, #f7f2e9);
  background-image: -webkit-linear-gradient(top, #ffffff, #f7f2e9);
  background-image: linear-gradient(to bottom, #ffffff, #f7f2e9);
}
.add-form__add-button--icons-women {
  position: absolute;
  padding: 0 0 0 40px;
  line-height: 34px;
  color: #87496e;
  font-size: 16px;
}
.add-form__add-button--icons-women:before {
  content: ".";
  text-indent: -9999px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.select-form {
  border: 1px solid #dcdbdb;
  font-size: 16px;
  padding: 6px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.breadcrumbs__link {
  position: relative;
  margin: 0 0 0 30px;
  font-size: 12px;
  text-decoration: none;
  color: #2c5b91;
  border-bottom: 1px solid #bfcdde;
}
.breadcrumbs__link:hover {
  border-bottom: 1px solid #2c5b91;
}
.breadcrumbs__link:before {
  position: absolute;
  left: -20px;
  top: 30%;
  content: "";
}
.breadcrumbs__link--first {
  text-decoration: none;
  position: relative;
  margin: 0 0 0 20px;
  font-size: 12px;
  color: #2c5b91;
  border-bottom: 1px solid #bfcdde;
}
.breadcrumbs__link--first:hover {
  border-bottom: 1px solid #2c5b91;
}
.breadcrumbs__link--first:before {
  position: absolute;
  left: -20px;
  top: 10%;
  content: "";
}
.breadcrumbs__active {
  margin: 0 0 0 30px;
  position: relative;
  color: #999;
  font-size: 12px;
}
.breadcrumbs__active:before {
  position: absolute;
  left: -20px;
  top: 30%;
  content: "";
}

.pagination {
  line-height: 28px;
}
.pagination__page {
  text-align: center;
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 3px 0 0;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #ddd6de;
  color: #87496e;
  font-size: 16px;
}
.pagination__page--active, .pagination__page:hover {
  border: 1px solid #c32664;
  color: #c32664;
}
.pagination__prev {
  margin: 0 20px 0 0;
}
.pagination__prev:hover {
  border-bottom: 1px solid #2c5b91;
}
.pagination__next {
  margin: 0 0 0 20px;
}
.pagination__next:hover {
  border-bottom: 1px solid #2c5b91;
}

.online {
  padding: 0 10px 0 15px;
  position: relative;
  color: #87496e;
}
.online:before {
  position: absolute;
  left: 0px;
  bottom: 1px;
  content: "";
}
.online:after {
  position: absolute;
  right: 0px;
  bottom: 3px;
  content: "";
}

.number {
  display: inline-block;
  padding: 3px 5px 3px;
  color: #635f59;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid #eef2f6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.in-frame {
  border: 1px solid #d7cebf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 28px;
  height: 28px;
  display: inline-block;
}
.in-frame--child-gray {
  width: 46px;
  height: 47px;
  position: relative;
}
.in-frame--child-gray:before {
  position: absolute;
  left: 7px;
  top: -2px;
  content: "";
}
.in-frame--camera-pink {
  position: relative;
}
.in-frame--camera-pink:before {
  position: absolute;
  left: 6px;
  top: 6px;
  content: "";
}
.in-frame--pencil {
  position: relative;
}
.in-frame--pencil:before {
  position: absolute;
  left: 8px;
  top: 6px;
  content: "";
}

.add {
  display: inline-block;
  border: 1px solid #dae6f1;
  background-color: #f5f9fb;
  width: 303px;
  height: 44px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  color: #3e526b;
  font-size: 14px;
  line-height: 44px;
}
.add--child {
  position: relative;
}
.add--child:before {
  position: absolute;
  left: 10px;
  top: 7px;
  content: "";
}
.add--photo {
  position: relative;
}
.add--photo:before {
  position: absolute;
  left: 10px;
  top: 10px;
  content: "";
}

.select-file {
  display: inline-block;
  border: 1px solid #dae6f1;
  background-color: #f5f9fb;
  width: 169px;
  height: 169px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  color: #6c89a9;
  font-size: 16px;
  padding-top: 135px;
}
.select-file--child {
  position: relative;
}
.select-file--child:before {
  position: absolute;
  left: 50%;
  margin-left: -45px;
  top: 25px;
  content: "";
}

.textbox {
  width: 487px;
  height: 161px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dcdbdb;
  resize: none;
}

.input-line {
  font-size: 14px;
  color: #b6b6b6;
  padding: 10px 11px 10px 40px;
  border: 1px solid #ebe5dc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #ebe5dc 0px -1px 1px 1px;
  -webkit-box-shadow: #ebe5dc 0px -1px 1px 1px;
  box-shadow: #ebe5dc 0px -1px 1px 1px;
  width: 243px;
}
.input-line--icons-woman {
  position: relative;
}
.input-line--icons-woman:before {
  content: ".";
  text-indent: -9999px;
  position: absolute;
  top: 0px;
  left: 12px;
}
.input-line--icons-letter-small {
  position: relative;
}
.input-line--icons-letter-small:before {
  content: ".";
  text-indent: -9999px;
  position: absolute;
  top: 3px;
  left: 12px;
}
.input-line--icons-lock {
  position: relative;
}
.input-line--icons-lock:before {
  content: ".";
  text-indent: -9999px;
  position: absolute;
  top: 2px;
  left: 12px;
}

.icons {
  display: inline-block;
}
.icons--house, .breadcrumbs__link--first:before {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -1210px;
  height: 11px;
  width: 12px;
}
.icons--right-arrow, .breadcrumbs__link:before, .breadcrumbs__active:before {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -1879px;
  height: 7px;
  width: 8px;
}
.icons--pink-cross {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -1655px;
  height: 12px;
  width: 12px;
}
.icons--gray-cross {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -877px;
  height: 12px;
  width: 12px;
}
.icons--exit {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -765px;
  height: 12px;
  width: 15px;
}
.icons--comments, .meta-info--comments:before {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -112px;
  height: 12px;
  width: 12px;
}
.icons--time, .meta-info--time:before {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -1986px;
  height: 12px;
  width: 12px;
}
.icons--gray-like, .meta-info--likes:before {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -989px;
  height: 11px;
  width: 12px;
}
.icons--delta-blue {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -335px;
  height: 5px;
  width: 6px;
}
.icons--blue-cross, .links--delete:before {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 12px;
  width: 12px;
}
.icons--pink-plus, .links--add:before {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -1767px;
  height: 12px;
  width: 12px;
}
.icons--online, .online:before {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -1543px;
  height: 12px;
  width: 12px;
}
.icons--delta-pink, .online:after {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -545px;
  height: 5px;
  width: 6px;
}
.icons--crimson-cross, .btn--icons-crimson-cross:before {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -224px;
  height: 11px;
  width: 11px;
}
.icons--green-check, .btn--icons-green-check:before {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -1100px;
  height: 10px;
  width: 12px;
}
.icons--letter-small, .input-line--icons-letter-small:before {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -1321px;
  height: 10px;
  width: 14px;
}
.icons--lock, .input-line--icons-lock:before {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -1431px;
  height: 12px;
  width: 11px;
}
.icons--diary, .links--diary:before {
  background-image: url('../images/icons1-s72fd4e09fb.png');
  background-repeat: no-repeat;
  background-position: 0 -650px;
  height: 15px;
  width: 14px;
}
.icons--smile {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -1773px;
  height: 20px;
  width: 20px;
}
.icons--photo-icon {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -1157px;
  height: 17px;
  width: 22px;
}
.icons--share {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -1529px;
  height: 18px;
  width: 17px;
}
.icons--search, .form-search__search-line--icons-search:before {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -1413px;
  height: 16px;
  width: 16px;
}
.icons--child-gray, .in-frame--child-gray:before {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -553px;
  height: 41px;
  width: 41px;
}
.icons--camera-pink, .in-frame--camera-pink:before {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -121px;
  height: 15px;
  width: 16px;
}
.icons--pencil, .btn--icons-pencil:before, .in-frame--pencil:before {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -1042px;
  height: 15px;
  width: 14px;
}
.icons--child-big, .select-file--child:before {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -236px;
  height: 90px;
  width: 90px;
}
.icons--child-blue, .add--child:before {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -426px;
  height: 27px;
  width: 27px;
}
.icons--women, .btn--icons-women:before, .add-form__add-button--icons-women:before {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -2123px;
  height: 16px;
  width: 21px;
}
.icons--like-pink, .links--like:before {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -924px;
  height: 18px;
  width: 18px;
}
.icons--camera-blue, .add--photo:before {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 21px;
  width: 24px;
}
.icons--letter, .btn--icons-letter:before {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -810px;
  height: 14px;
  width: 20px;
}
.icons--cogwheel, .btn--icons-cogwheel:before {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -694px;
  height: 16px;
  width: 16px;
}
.icons--wifi, .btn--icons-wifi:before {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -1893px;
  height: 14px;
  width: 13px;
}
.icons--smile {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -1773px;
  height: 20px;
  width: 20px;
}
.icons--woman, .input-line--icons-woman:before {
  background-image: url('../images/icons2-s136de4b3f8.png');
  background-repeat: no-repeat;
  background-position: 0 -2007px;
  height: 16px;
  width: 14px;
}

.title {
  font-family: 'Roboto Condensed Bold';
  text-transform: uppercase;
  font-size: 18px;
  color: #c22462;
}
.title--first-word-color {
  color: #3e526b;
}

.label {
  display: block;
  font-size: 16px;
  color: #c22462;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 8px;
}
.label--small {
  text-transform: uppercase;
  color: #a59d9d;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 4px;
}

.iv-calendar {
  width: 208px;
  margin-bottom: 60px;
}
.iv-calendar__month-title {
  width: 208px;
  font-size: 16px;
  color: #000;
  text-align: center;
}
.iv-calendar__month-week {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.iv-calendar__month-day {
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  padding-top: 7px;
  font-size: 15px;
  color: #000;
  margin-bottom: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.iv-calendar__month-day--name {
  font-size: 12px;
  color: #a59d9d;
  text-transform: lowercase;
}
.iv-calendar__month-day--empty {
  background: #f4eef0;
}
.iv-calendar__month-day--orange {
  background: #f0ac41;
}
.iv-calendar__month-day--orange-light {
  background: #f3e5a5;
}
.iv-calendar__month-day--blue {
  background: #c4e6e5;
}
.iv-calendar__month-day--green {
  background: #87e893;
}
.iv-calendar__month-day--pink {
  background: #ee5f94;
}

.iv-annotation {
  width: 208px;
  font-size: 14px;
  color: #000;
  margin-bottom: 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.iv-annotation__day {
  margin-right: 10px;
}
.iv-annotation__day-comment {
  width: 170px;
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url("../fonts/robotocondensed-bold-webfont.eot");
  src: url("../fonts/robotocondensed-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-bold-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-bold-webfont.woff") format("woff"), url("../fonts/robotocondensed-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: "stretch";
  align-content: "stretch";
  -webkit-flex-wrap: "nowrap";
  flex-wrap: "nowrap";
  padding: 15px 0 20px;
}
.header__logo {
  display: inline-block;
  width: 149px;
  height: 63px;
  background-image: url(../images/temp/logo-header.png);
}
.header .form-search--header {
  margin: 0 0 10px 0;
}
.header .registration-enter {
  width: 205px;
  margin: 10px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.header .registration-enter .group--links {
  width: 151px;
}
.header .registration-enter__avatar {
  width: 34px;
  height: 34px;
}
.header .registration-enter__link--registration {
  float: right;
}
.header .registration-enter__link-social {
  display: inline-block;
  color: #989898;
  font-style: italic;
  margin: 10px 0 0 0;
}

.group--photos-wall-speed-registration {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.group--entries {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.photos-wall {
  width: 757px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.photos-wall__item {
  width: 79px;
  height: 79px;
  margin: 0 0 5px 0;
}
.photos-wall__item--long {
  width: 164px;
}

.speed-registration {
  width: 336px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #efe9e6;
  background-color: #ffffff;
  padding: 30px 20px 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 20px 0;
  -moz-box-shadow: #e6e1dd 0px 1px 1px 1px;
  -webkit-box-shadow: #e6e1dd 0px 1px 1px 1px;
  box-shadow: #e6e1dd 0px 1px 1px 1px;
}
.speed-registration__title {
  color: #606060;
  font-size: 13px;
  display: block;
  text-align: center;
  line-height: 16px;
  margin: 0 auto 15px;
  width: 230px;
}
.speed-registration__title--top {
  font-family: 'Roboto Condensed Bold';
  font-size: 21px;
  color: #c94073;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  width: 100%;
}
.speed-registration__input-line {
  margin: 0 0 15px 0;
}

.new-diary-entries {
  padding: 38px 0px 27px 0;
}

.entries {
  margin: 10px 0 0 0;
  width: 336px;
  padding: 15px 20px 0px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.entries--center {
  width: 405px;
  padding: 15px 35px 0px 32px;
  border-right: 1px dotted #e3e3e3;
  border-left: 1px dotted #e3e3e3;
}
.entries .entry {
  margin: 0 0 25px 0;
}
.entries .entry__avatar {
  float: left;
  margin: 0 15px 0 0;
}
.entries .entry__link {
  line-height: 21px;
}
.entries .entry__link:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.menu {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: "stretch";
  align-content: "stretch";
  -webkit-flex-wrap: "nowrap";
  flex-wrap: "nowrap";
}
.menu__link {
  color: #674359;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #cdbec2;
}
.menu__link:hover {
  border-bottom: 1px solid #674359;
}

.calendar-ovulation {
  width: 720px;
  border: 1px solid #e7e7e7;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 20px;
  background: #fffcfd url(../images/calendar-ovulation.png) no-repeat 495px 65px;
}
.calendar-ovulation__form {
  width: 380px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: left;
  justify-content: left;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.calendar-ovulation__form .group--inline {
  margin-right: 10px;
  margin-top: -8px;
}
.calendar-ovulation__form .group--submit {
  width: 380px;
  margin-top: 15px;
}
.calendar-ovulation__result {
  width: 678px;
  background: url(../images/calendar-ovulation__result.png) no-repeat top center;
  margin: 35px auto 0;
  padding-top: 60px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.calendar-ovulation__annotation {
  width: 678px;
  border-top: 1px solid #e7e7e7;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 25px;
}
