body {
  font-family: Arial;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #2c5b91;
  border-bottom: 1px solid #bfcdde;
}

.clearfix {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
