.article
	h1 H1 Мосмама.ру - крупный заголовок статьи будет располагаться здесь
	img(src="images/temp/article.png")
	h2 H2 Как правильно воспитывать своего ребенка - советы психологов
	p Со дня своего основания Nike постоянно предлагает инновационные идеи в дизайне и эргономичности кроссовок. В производстве самых популярных моделей в основном используется натуральная кожа, но и искусственный материал на фабриках Nike – только высочайшего качества. В летнее время стоит выбрать беговые модели с элементами текстиля-сетки, который отлично пропускает воздух и дает ноге дышать.
	p Nike первыми представили модель кроссовок с рифленой подошвой, которая дает максимальное сцепление с дорогой и обеспечивают безопасность ноги. Кроссовки Аир Макс с запатентованной амортизационной подошвой не только идеальны для спорта, но и давно стали культовым предметом одежды, который носят в сочетании с вещами стиля casual.
	p В летнее время стоит выбрать беговые модели с элементами текстиля-сетки, Nike первыми представили модель кроссовок с рифленой подошвой, которая дает максимальное сцепление с дорогой и обеспечивают безопасность ноги. Кроссовки Аир Макс с запатентованной амортизационной подошвой не только идеальны для спорта, но и давно стали культовым предметом одежды, который носят в сочетании с вещами стиля casual.
	h3 H3 Еще один подзаголовок - как правильно воспитывать своего ребенка - советы психологов
	p Читайте также подробный 
		a(href="#") обзор новинок от Nike.
	p Предлагает инновационные идеи в дизайне и эргономичности кроссовок. В производстве самых популярных моделей в основном используется натуральная кожа, но и искусственный материал на фабриках Nike – только высочайшего качества. В летнее время стоит выбрать беговые модели с элементами текстиля-сетки, который отлично пропускает воздух и дает ноге дышать.
	p Nike первыми представили модель кроссовок с рифленой подошвой, которая дает максимальное сцепление с дорогой и обеспечивают безопасность ноги. Кроссовки Аир Макс с запатентованной амортизационной подошвой не только идеальны для спорта, но и давно стали культовым предметом одежды, который носят в сочетании с вещами стиля casual.
	ol
		li Нейромышечный синдром – слабость, закатывание глаз, нарушение координации.
		li Психический синдром – депрессии, снижение работоспособности, агрессия.
		li Когнитивный синдром – снижение памяти, неспособность сконцентрироваться.
		li Сосудистый синдром – нарушение кровообращения, похолодание конечностей, слабость.
	p В летнее время стоит выбрать беговые модели с элементами текстиля-сетки, который отлично пропускает воздух и дает ноге дышать.Nike первыми представили модель кроссовок с рифленой подошвой, которая дает максимальное сцепление с дорогой и обеспечивают безопасность ноги. Кроссовки Аир Макс с запатентованной амортизационной подошвой не только идеальны для спорта, но и давно стали культовым предметом одежды, который носят в сочетании с вещами стиля casual.
	ul
		li Нейромышечный синдром – слабость, закатывание глаз, нарушение координации.
		li Психический синдром – депрессии, снижение работоспособности, агрессия.
		li Когнитивный синдром – снижение памяти, неспособность сконцентрироваться.
		li Сосудистый синдром – нарушение кровообращения, похолодание конечностей, слабость.
	p Со дня своего основания Nike постоянно предлагает инновационные идеи в дизайне и эргономичности кроссовок. В производстве самых популярных моделей в основном используется натуральная кожа, но и искусственный материал на фабриках Nike – только высочайшего качества. В летнее время стоит выбрать беговые модели с элементами текстиля-сетки, который отлично пропускает воздух и дает ноге дышать.
	p Nike первыми представили модель кроссовок с рифленой подошвой, которая дает максимальное сцепление с дорогой и обеспечивают безопасность ноги. Кроссовки Аир Макс с запатентованной амортизационной подошвой не только идеальны для спорта, но и давно стали культовым предметом одежды, который носят в сочетании с вещами стиля casual.
	p Со дня своего основания Nike постоянно предлагает инновационные идеи в дизайне и эргономичности кроссовок. В производстве самых популярных моделей в основном используется натуральная кожа, но и искусственный материал на фабриках Nike – только высочайшего качества. В летнее время стоит выбрать беговые модели с элементами текстиля-сетки, который отлично пропускает воздух и дает ноге дышать.
	.group.group--social-like
		.social
			img(src="images/temp/social.png")
		.like
			a(href="#").links.links--blue.links--like Мне нравится
			span.number 456