.articles-for-moms
	.group.group--title
			.title.title--articles-for-moms Статьи для мамочек
			.panel
				a(href="#").links.links--blue Читать все статьи
				span.number 456
		- for (var i = 0; i < 6; ++i) {
		.moms-entries
			img(src="images/temp/articles-for-moms.png").moms-entries__img
			.moms-entries__right
				a(href="#").links.links--blue.links--moms-entries Здоровая пища: что можно есть на протяжении беременности
				p Няня сразу дала понять всем в больнице, что к Андрюше надо относиться с уважением. «А то, думали, раз сирота, можно ребенку завтрак не дать в день госпитализации!», - ворчит Наталья. Они с Андрюшей стали с первого дня любимцами медперсонала
				.meta
					span.meta-info.meta-info--time 17 минут назад
					span.meta-info.meta-info--comments 18 комментариев
		- }
