.category-menu
	.title.title--category-menu Категории
	ul.category-menu__list-items
		li.category-menu__item
			a(href="#").links.links--blue Здоровье
		li.category-menu__item
			a(href="#").links.links--blue Беременность
		li.category-menu__item
			a(href="#").links.links--blue Развитие ребенка
		li.category-menu__item
			a(href="#").links.links--blue Полезные советы
		li.category-menu__item.category-menu__item--active 
			span Питание ребенка
			ul
				li.category-menu__item.category-menu__item--inner
					a(href="#").links.links--blue Грудное вскармливание
				li.category-menu__item.category-menu__item--inner
					a(href="#").links.links--blue Питание кормящей мамы
				li.category-menu__item.category-menu__item--inner
					a(href="#").links.links--blue Питание папы
				li.category-menu__item.category-menu__item--inner
					a(href="#").links.links--blue Питание ребенка от 0 до 1 года
				li.category-menu__item.category-menu__item--inner
					a(href="#").links.links--blue Питание ребёнка старше года
		li.category-menu__item
			a(href="#").links.links--blue Малыши до 1 года
		li.category-menu__item
			a(href="#").links.links--blue Школьник
		li.category-menu__item
			a(href="#").links.links--blue Ребенок от 3 до 7 лет
		li.category-menu__item
			a(href="#").links.links--blue Планирование
		li.category-menu__item
			a(href="#").links.links--blue Досуг с детьми
		li.category-menu__item
			a(href="#").links.links--blue Роды
		li.category-menu__item
			a(href="#").links.links--blue Ребенок от 1 года до 3 лет
		li.category-menu__item
			a(href="#").links.links--blue Рукоделие
		li.category-menu__item
			a(href="#").links.links--blue Воспитание ребенка
		li.category-menu__item
			a(href="#").links.links--blue Семья
		li.category-menu__item
			a(href="#").links.links--blue Психология
		li.category-menu__item
			a(href="#").links.links--blue Дом и быт
		li.category-menu__item
			a(href="#").links.links--blue Красота
		li.category-menu__item
			a(href="#").links.links--blue Мода и стиль
		li.category-menu__item
			a(href="#").links.links--blue Подросток
		li.category-menu__item
			a(href="#").links.links--blue Любовь и отношения