.community-entries.community-entries--sidebar
	.title Записи в сообществах
	.community-entries-list.community-entries-list--sidebar
		- for (var i = 0; i < 8; ++i) {
		.community-entries-list__item.community-entries-list__item--sidebar
			a(href="#").links.links--blue Правильное питание: что можно, а что нельзя есть во время беременности
			.meta.meta--community-entries
				span.name.name--drop Макс Казанцев
				span.meta-info.meta-info--likes 789
		- }
