.related-posts
	.title Похожие статьи
	.group.group--related-posts
		- for (var i = 0; i < 4; ++i) {
		.related-posts__item
			img(src="images/temp/related-posts__item.png")
			a(href="#").links.links--blue Здоровая пища: что можно есть на протяжении беременности
		- }