.user-profile-wall
	.user-profile-wall-menu
		ul.user-profile-wall-menu__list-items
			li.user-profile-wall-menu__item.user-profile-wall-menu__item--active
				a(href="#").links.links--blue Все вместе
			li.user-profile-wall-menu__item
				a(href="#").links.links--blue Оповещения
			li.user-profile-wall-menu__item
				a(href="#").links.links--blue Сообщества
			li.user-profile-wall-menu__item
				a(href="#").links.links--blue Друзья
	// end user-profile-wall-menu

	.user-profile-wall-items
		.user-profile-wall-items__item
			.small-profile
				img(src="images/temp/user-profile-avatar.png")
				a(href="#").name.name--drop.name--online.name--small-profile Макс Казанцев
				.meta-info.meta-info--time.meta-info--small-profile 17 минут назад

			.user-profile-wall-items__content
				.alert.alert--done 
					p Ваша заявка на вступление в группу 
						a(href="#").links.links--blue “Все для беременных” 
						| одобренна модератором

			a(href="#").icons.icons--pink-cross
		// end user-profile-wall

		.user-profile-wall-items__item
			.small-profile
				img(src="images/temp/user-profile-avatar.png")
				a(href="#").name.name--drop.name--online.name--small-profile Макс Казанцев
				.meta-info.meta-info--time.meta-info--small-profile 17 минут назад

			.user-profile-wall-items__content
				p обновила фото
				img(src="images/temp/banner337x376.png")

			a(href="#").icons.icons--pink-cross
		// end user-profile-wall

		.user-profile-wall-items__item
			.small-profile
				img(src="images/temp/user-profile-avatar.png")
				a(href="#").name.name--drop.name--online.name--small-profile Макс Казанцев
				.meta-info.meta-info--time.meta-info--small-profile 17 минут назад

			.user-profile-wall-items__content
				p добавил в друзья 
					a(href="#").name.name--drop Макс Казанцев
					|,  
					a(href="#").name.name--drop Макс Казанцев
					|,  
					a(href="#").name.name--drop Макс Казанцев

			a(href="#").icons.icons--pink-cross
		// end user-profile-wall

		.user-profile-wall-items__item
			.small-profile
				img(src="images/temp/user-profile-avatar.png")
				a(href="#").name.name--drop.name--online.name--small-profile Макс Казанцев
				.meta-info.meta-info--time.meta-info--small-profile 17 минут назад

			.user-profile-wall-items__content
				.alert.alert--denied 
					p Ваша запись 
						a(href="#").links.links--blue “Как развестись с милиардером и неоставить ему ни гроша”
						|  не прошла проверку модератором

			a(href="#").icons.icons--pink-cross
		// end user-profile-wall

		.user-profile-wall-items__item
			.small-profile
				img(src="images/temp/user-profile-avatar.png")
				a(href="#").name.name--drop.name--online.name--small-profile Макс Казанцев
				.meta-info.meta-info--time.meta-info--small-profile 17 минут назад

			.user-profile-wall-items__content
				p добавил в друзья 
					a(href="#").name.name--drop Макс Казанцев
					|,  
					a(href="#").name.name--drop Макс Казанцев
					|,  
					a(href="#").name.name--drop Макс Казанцев

			a(href="#").icons.icons--pink-cross
		// end user-profile-wall

		.user-profile-wall-items__item
			.small-profile
				img(src="images/temp/user-profile-avatar.png")
				a(href="#").name.name--drop.name--online.name--small-profile Макс Казанцев
				.meta-info.meta-info--time.meta-info--small-profile 17 минут назад

			.user-profile-wall-items__content
				p обновила фото
				img(src="images/temp/banner337x376.png")

			a(href="#").icons.icons--pink-cross
		// end user-profile-wall

		.user-profile-wall-items__item
			.small-profile
				img(src="images/temp/user-profile-avatar.png")
				a(href="#").name.name--drop.name--online.name--small-profile Макс Казанцев
				.meta-info.meta-info--time.meta-info--small-profile 17 минут назад

			.user-profile-wall-items__content
				p обновила фото
				img(src="images/temp/banner337x376.png")

			a(href="#").icons.icons--pink-cross
		// end user-profile-wall

		include pagination.jade