.user-profile-wall
	.user-profile-wall-menu
		ul.user-profile-wall-menu__list-items
			li.user-profile-wall-menu__item.user-profile-wall-menu__item--active
				a(href="#").links.links--blue Фотографии
			li.user-profile-wall-menu__item
				a(href="#").links.links--blue Видеоролики
			li.user-profile-wall-menu__item
				a(href="#").links.links--blue Аудиозаписи
		a(href="#").btn.btn--pink.btn--user-profile-wall-menu Добавить альбом
	// end user-profile-wall-menu

	.user-profile-wall-items
		.albums
			.albums__item
				img(src="images/temp/album.png")
				a(href="#").links.links--blue Стрижём ногти ребёнку
				span 465465 фотографий
			.albums__item
				img(src="images/temp/album.png")
				a(href="#").links.links--blue Стрижём ногти ребёнку
				span 465465 фотографий
			.albums__item
				img(src="images/temp/album.png")
				a(href="#").links.links--blue Стрижём ногти ребёнку
				span 465465 фотографий
			.albums__item.albums__item--private
				img(src="images/album--private.png")
				a(href="#").links.links--blue Стрижём ногти ребёнку
				span 465465 фотографий
			// end album--private
			.albums__item
				img(src="images/temp/album.png")
				a(href="#").links.links--blue Стрижём ногти ребёнку
				span 465465 фотографий
			.albums__item
				img(src="images/temp/album.png")
				a(href="#").links.links--blue Стрижём ногти ребёнку
				span 465465 фотографий
			.albums__item
				img(src="images/temp/album.png")
				a(href="#").links.links--blue Стрижём ногти ребёнку
				span 465465 фотографий
			.albums__item.albums__item--private
				img(src="images/album--private.png")
				a(href="#").links.links--blue Стрижём ногти ребёнку
				span 465465 фотографий
			// end album--private