.user-profile-header
	.group.group--avatar-user-profile-child
		.avatar
			img(src="images/temp/avatar-big.png")
			a(href="#").in-frame.in-frame--camera-pink
		.user-profile
			h1 Маргарита Ивлева
			.user-profile__place Москва
			.user-profile__status 
				a.in-frame.in-frame--pencil
				span «Самый мощный выброс адреналина - это не американские горки, а ожидание результата теста на беременность!!!»
			.user-profile__config
				a(href="#").btn.btn--white.btn--height38.btn--icons-cogwheel Настройки профиля
		.child
			.child__item
				img(src="images/temp/child.png")
				span.child__info.child__info--name Михасик
				span.child__info.child__info--year 5 месяцев
			.child__item
				img(src="images/temp/child.png")
				span.child__info.child__info--name Михасик
				span.child__info.child__info--year 12 месяцев
			a(href="#").in-frame.in-frame--child-gray
	.group.group--pregnant-menu
		.pregnant
			a(href="#").pregnant__time Беременна, 12 неделя
			.pregnant__line
				span.line.line--week-12
		.user-menu
			ul.user-menu__list-items
				li.user-menu__item.user-menu__item--active
					a(href="#").links.links--link16.links--blue Лента
				li.user-menu__item
					a(href="#").links.links--link16.links--blue Дневник         
				li.user-menu__item
					a(href="#").links.links--link16.links--blue Друзья         
				li.user-menu__item
					a(href="#").links.links--link16.links--blue Сообщества         
				li.user-menu__item
					a(href="#").links.links--link16.links--blue Cообщения  
					span.count 5       
				li.user-menu__item
					a(href="#").links.links--link16.links--blue Медиaтека 