.input-line {
	html>/**/body *>&--icons-woman, x:-moz-any-link {
        &:before {
            top: -12px;
        }
    }
    html>/**/body *>&--icons-letter-small, x:-moz-any-link {
    	&:before {
            top: -9px;
        }
    }
    html>/**/body *>&--icons-lock, x:-moz-any-link {
    	&:before {
            top: -10px;
        }
    }
}