/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$s-add-album-foto-x: 0px;
$s-add-album-foto-y: 0px;
$s-add-album-foto-offset-x: 0px;
$s-add-album-foto-offset-y: 0px;
$s-add-album-foto-width: 145px;
$s-add-album-foto-height: 131px;
$s-add-album-foto-total-width: 336px;
$s-add-album-foto-total-height: 199px;
$s-add-album-foto-image: '../images/icons.png';
$s-add-album-foto: 0px 0px 0px 0px 145px 131px 336px 199px '../images/icons.png';
$s-alert--denied-x: 167px;
$s-alert--denied-y: 111px;
$s-alert--denied-offset-x: -167px;
$s-alert--denied-offset-y: -111px;
$s-alert--denied-width: 11px;
$s-alert--denied-height: 10px;
$s-alert--denied-total-width: 336px;
$s-alert--denied-total-height: 199px;
$s-alert--denied-image: '../images/icons.png';
$s-alert--denied: 167px 111px -167px -111px 11px 10px 336px 199px '../images/icons.png';
$s-blue-cross-x: 262px;
$s-blue-cross-y: 185px;
$s-blue-cross-offset-x: -262px;
$s-blue-cross-offset-y: -185px;
$s-blue-cross-width: 12px;
$s-blue-cross-height: 12px;
$s-blue-cross-total-width: 336px;
$s-blue-cross-total-height: 199px;
$s-blue-cross-image: '../images/icons.png';
$s-blue-cross: 262px 185px -262px -185px 12px 12px 336px 199px '../images/icons.png';
$s-camera-blue-x: 245px;
$s-camera-blue-y: 76px;
$s-camera-blue-offset-x: -245px;
$s-camera-blue-offset-y: -76px;
$s-camera-blue-width: 24px;
$s-camera-blue-height: 21px;
$s-camera-blue-total-width: 336px;
$s-camera-blue-total-height: 199px;
$s-camera-blue-image: '../images/icons.png';
$s-camera-blue: 245px 76px -245px -76px 24px 21px 336px 199px '../images/icons.png';
$s-camera-pink-x: 245px;
$s-camera-pink-y: 146px;
$s-camera-pink-offset-x: -245px;
$s-camera-pink-offset-y: -146px;
$s-camera-pink-width: 16px;
$s-camera-pink-height: 15px;
$s-camera-pink-total-width: 336px;
$s-camera-pink-total-height: 199px;
$s-camera-pink-image: '../images/icons.png';
$s-camera-pink: 245px 146px -245px -146px 16px 15px 336px 199px '../images/icons.png';
$s-category-menu__item--active-x: 329px;
$s-category-menu__item--active-y: 185px;
$s-category-menu__item--active-offset-x: -329px;
$s-category-menu__item--active-offset-y: -185px;
$s-category-menu__item--active-width: 6px;
$s-category-menu__item--active-height: 6px;
$s-category-menu__item--active-total-width: 336px;
$s-category-menu__item--active-total-height: 199px;
$s-category-menu__item--active-image: '../images/icons.png';
$s-category-menu__item--active: 329px 185px -329px -185px 6px 6px 336px 199px '../images/icons.png';
$s-category-menu__item--inner-x: 325px;
$s-category-menu__item--inner-y: 61px;
$s-category-menu__item--inner-offset-x: -325px;
$s-category-menu__item--inner-offset-y: -61px;
$s-category-menu__item--inner-width: 8px;
$s-category-menu__item--inner-height: 7px;
$s-category-menu__item--inner-total-width: 336px;
$s-category-menu__item--inner-total-height: 199px;
$s-category-menu__item--inner-image: '../images/icons.png';
$s-category-menu__item--inner: 325px 61px -325px -61px 8px 7px 336px 199px '../images/icons.png';
$s-category-menu__item-x: 196px;
$s-category-menu__item-y: 111px;
$s-category-menu__item-offset-x: -196px;
$s-category-menu__item-offset-y: -111px;
$s-category-menu__item-width: 6px;
$s-category-menu__item-height: 6px;
$s-category-menu__item-total-width: 336px;
$s-category-menu__item-total-height: 199px;
$s-category-menu__item-image: '../images/icons.png';
$s-category-menu__item: 196px 111px -196px -111px 6px 6px 336px 199px '../images/icons.png';
$s-child-big-x: 150px;
$s-child-big-y: 0px;
$s-child-big-offset-x: -150px;
$s-child-big-offset-y: 0px;
$s-child-big-width: 90px;
$s-child-big-height: 90px;
$s-child-big-total-width: 336px;
$s-child-big-total-height: 199px;
$s-child-big-image: '../images/icons.png';
$s-child-big: 150px 0px -150px 0px 90px 90px 336px 199px '../images/icons.png';
$s-child-blue-x: 245px;
$s-child-blue-y: 44px;
$s-child-blue-offset-x: -245px;
$s-child-blue-offset-y: -44px;
$s-child-blue-width: 27px;
$s-child-blue-height: 27px;
$s-child-blue-total-width: 336px;
$s-child-blue-total-height: 199px;
$s-child-blue-image: '../images/icons.png';
$s-child-blue: 245px 44px -245px -44px 27px 27px 336px 199px '../images/icons.png';
$s-child-gray-x: 154px;
$s-child-gray-y: 136px;
$s-child-gray-offset-x: -154px;
$s-child-gray-offset-y: -136px;
$s-child-gray-width: 41px;
$s-child-gray-height: 41px;
$s-child-gray-total-width: 336px;
$s-child-gray-total-height: 199px;
$s-child-gray-image: '../images/icons.png';
$s-child-gray: 154px 136px -154px -136px 41px 41px 336px 199px '../images/icons.png';
$s-cogwheel-x: 245px;
$s-cogwheel-y: 125px;
$s-cogwheel-offset-x: -245px;
$s-cogwheel-offset-y: -125px;
$s-cogwheel-width: 16px;
$s-cogwheel-height: 16px;
$s-cogwheel-total-width: 336px;
$s-cogwheel-total-height: 199px;
$s-cogwheel-image: '../images/icons.png';
$s-cogwheel: 245px 125px -245px -125px 16px 16px 336px 199px '../images/icons.png';
$s-comments-x: 306px;
$s-comments-y: 166px;
$s-comments-offset-x: -306px;
$s-comments-offset-y: -166px;
$s-comments-width: 12px;
$s-comments-height: 12px;
$s-comments-total-width: 336px;
$s-comments-total-height: 199px;
$s-comments-image: '../images/icons.png';
$s-comments: 306px 166px -306px -166px 12px 12px 336px 199px '../images/icons.png';
$s-community-entries-list__item-x: 277px;
$s-community-entries-list__item-y: 44px;
$s-community-entries-list__item-offset-x: -277px;
$s-community-entries-list__item-offset-y: -44px;
$s-community-entries-list__item-width: 27px;
$s-community-entries-list__item-height: 27px;
$s-community-entries-list__item-total-width: 336px;
$s-community-entries-list__item-total-height: 199px;
$s-community-entries-list__item-image: '../images/icons.png';
$s-community-entries-list__item: 277px 44px -277px -44px 27px 27px 336px 199px '../images/icons.png';
$s-crimson-cross-x: 150px;
$s-crimson-cross-y: 95px;
$s-crimson-cross-offset-x: -150px;
$s-crimson-cross-offset-y: -95px;
$s-crimson-cross-width: 11px;
$s-crimson-cross-height: 11px;
$s-crimson-cross-total-width: 336px;
$s-crimson-cross-total-height: 199px;
$s-crimson-cross-image: '../images/icons.png';
$s-crimson-cross: 150px 95px -150px -95px 11px 11px 336px 199px '../images/icons.png';
$s-delta-blue-x: 207px;
$s-delta-blue-y: 111px;
$s-delta-blue-offset-x: -207px;
$s-delta-blue-offset-y: -111px;
$s-delta-blue-width: 6px;
$s-delta-blue-height: 5px;
$s-delta-blue-total-width: 336px;
$s-delta-blue-total-height: 199px;
$s-delta-blue-image: '../images/icons.png';
$s-delta-blue: 207px 111px -207px -111px 6px 5px 336px 199px '../images/icons.png';
$s-delta-down-x: 218px;
$s-delta-down-y: 111px;
$s-delta-down-offset-x: -218px;
$s-delta-down-offset-y: -111px;
$s-delta-down-width: 6px;
$s-delta-down-height: 5px;
$s-delta-down-total-width: 336px;
$s-delta-down-total-height: 199px;
$s-delta-down-image: '../images/icons.png';
$s-delta-down: 218px 111px -218px -111px 6px 5px 336px 199px '../images/icons.png';
$s-delta-pink-x: 229px;
$s-delta-pink-y: 111px;
$s-delta-pink-offset-x: -229px;
$s-delta-pink-offset-y: -111px;
$s-delta-pink-width: 6px;
$s-delta-pink-height: 5px;
$s-delta-pink-total-width: 336px;
$s-delta-pink-total-height: 199px;
$s-delta-pink-image: '../images/icons.png';
$s-delta-pink: 229px 111px -229px -111px 6px 5px 336px 199px '../images/icons.png';
$s-diary-x: 313px;
$s-diary-y: 125px;
$s-diary-offset-x: -313px;
$s-diary-offset-y: -125px;
$s-diary-width: 14px;
$s-diary-height: 15px;
$s-diary-total-width: 336px;
$s-diary-total-height: 199px;
$s-diary-image: '../images/icons.png';
$s-diary: 313px 125px -313px -125px 14px 15px 336px 199px '../images/icons.png';
$s-exit-x: 292px;
$s-exit-y: 185px;
$s-exit-offset-x: -292px;
$s-exit-offset-y: -185px;
$s-exit-width: 15px;
$s-exit-height: 12px;
$s-exit-total-width: 336px;
$s-exit-total-height: 199px;
$s-exit-image: '../images/icons.png';
$s-exit: 292px 185px -292px -185px 15px 12px 336px 199px '../images/icons.png';
$s-gray-cross-x: 323px;
$s-gray-cross-y: 166px;
$s-gray-cross-offset-x: -323px;
$s-gray-cross-offset-y: -166px;
$s-gray-cross-width: 12px;
$s-gray-cross-height: 12px;
$s-gray-cross-total-width: 336px;
$s-gray-cross-total-height: 199px;
$s-gray-cross-image: '../images/icons.png';
$s-gray-cross: 323px 166px -323px -166px 12px 12px 336px 199px '../images/icons.png';
$s-gray-like-x: 166px;
$s-gray-like-y: 95px;
$s-gray-like-offset-x: -166px;
$s-gray-like-offset-y: -95px;
$s-gray-like-width: 12px;
$s-gray-like-height: 11px;
$s-gray-like-total-width: 336px;
$s-gray-like-total-height: 199px;
$s-gray-like-image: '../images/icons.png';
$s-gray-like: 166px 95px -166px -95px 12px 11px 336px 199px '../images/icons.png';
$s-green-check-x: 200px;
$s-green-check-y: 95px;
$s-green-check-offset-x: -200px;
$s-green-check-offset-y: -95px;
$s-green-check-width: 12px;
$s-green-check-height: 10px;
$s-green-check-total-width: 336px;
$s-green-check-total-height: 199px;
$s-green-check-image: '../images/icons.png';
$s-green-check: 200px 95px -200px -95px 12px 10px 336px 199px '../images/icons.png';
$s-house-x: 183px;
$s-house-y: 95px;
$s-house-offset-x: -183px;
$s-house-offset-y: -95px;
$s-house-width: 12px;
$s-house-height: 11px;
$s-house-total-width: 336px;
$s-house-total-height: 199px;
$s-house-image: '../images/icons.png';
$s-house: 183px 95px -183px -95px 12px 11px 336px 199px '../images/icons.png';
$s-letter-small-x: 217px;
$s-letter-small-y: 95px;
$s-letter-small-offset-x: -217px;
$s-letter-small-offset-y: -95px;
$s-letter-small-width: 14px;
$s-letter-small-height: 10px;
$s-letter-small-total-width: 336px;
$s-letter-small-total-height: 199px;
$s-letter-small-image: '../images/icons.png';
$s-letter-small: 217px 95px -217px -95px 14px 10px 336px 199px '../images/icons.png';
$s-letter-x: 245px;
$s-letter-y: 166px;
$s-letter-offset-x: -245px;
$s-letter-offset-y: -166px;
$s-letter-width: 20px;
$s-letter-height: 14px;
$s-letter-total-width: 336px;
$s-letter-total-height: 199px;
$s-letter-image: '../images/icons.png';
$s-letter: 245px 166px -245px -166px 20px 14px 336px 199px '../images/icons.png';
$s-like-pink-x: 285px;
$s-like-pink-y: 102px;
$s-like-pink-offset-x: -285px;
$s-like-pink-offset-y: -102px;
$s-like-pink-width: 18px;
$s-like-pink-height: 18px;
$s-like-pink-total-width: 336px;
$s-like-pink-total-height: 199px;
$s-like-pink-image: '../images/icons.png';
$s-like-pink: 285px 102px -285px -102px 18px 18px 336px 199px '../images/icons.png';
$s-lock-x: 325px;
$s-lock-y: 44px;
$s-lock-offset-x: -325px;
$s-lock-offset-y: -44px;
$s-lock-width: 11px;
$s-lock-height: 12px;
$s-lock-total-width: 336px;
$s-lock-total-height: 199px;
$s-lock-image: '../images/icons.png';
$s-lock: 325px 44px -325px -44px 11px 12px 336px 199px '../images/icons.png';
$s-logo-header--fixed-x: 245px;
$s-logo-header--fixed-y: 0px;
$s-logo-header--fixed-offset-x: -245px;
$s-logo-header--fixed-offset-y: 0px;
$s-logo-header--fixed-width: 91px;
$s-logo-header--fixed-height: 39px;
$s-logo-header--fixed-total-width: 336px;
$s-logo-header--fixed-total-height: 199px;
$s-logo-header--fixed-image: '../images/icons.png';
$s-logo-header--fixed: 245px 0px -245px 0px 91px 39px 336px 199px '../images/icons.png';
$s-logo-header-x: 0px;
$s-logo-header-y: 136px;
$s-logo-header-offset-x: 0px;
$s-logo-header-offset-y: -136px;
$s-logo-header-width: 149px;
$s-logo-header-height: 63px;
$s-logo-header-total-width: 336px;
$s-logo-header-total-height: 199px;
$s-logo-header-image: '../images/icons.png';
$s-logo-header: 0px 136px 0px -136px 149px 63px 336px 199px '../images/icons.png';
$s-online-x: 245px;
$s-online-y: 185px;
$s-online-offset-x: -245px;
$s-online-offset-y: -185px;
$s-online-width: 12px;
$s-online-height: 12px;
$s-online-total-width: 336px;
$s-online-total-height: 199px;
$s-online-image: '../images/icons.png';
$s-online: 245px 185px -245px -185px 12px 12px 336px 199px '../images/icons.png';
$s-pencil-x: 286px;
$s-pencil-y: 146px;
$s-pencil-offset-x: -286px;
$s-pencil-offset-y: -146px;
$s-pencil-width: 14px;
$s-pencil-height: 15px;
$s-pencil-total-width: 336px;
$s-pencil-total-height: 199px;
$s-pencil-image: '../images/icons.png';
$s-pencil: 286px 146px -286px -146px 14px 15px 336px 199px '../images/icons.png';
$s-photo-icon-x: 308px;
$s-photo-icon-y: 102px;
$s-photo-icon-offset-x: -308px;
$s-photo-icon-offset-y: -102px;
$s-photo-icon-width: 22px;
$s-photo-icon-height: 17px;
$s-photo-icon-total-width: 336px;
$s-photo-icon-total-height: 199px;
$s-photo-icon-image: '../images/icons.png';
$s-photo-icon: 308px 102px -308px -102px 22px 17px 336px 199px '../images/icons.png';
$s-pink-cross-x: 323px;
$s-pink-cross-y: 146px;
$s-pink-cross-offset-x: -323px;
$s-pink-cross-offset-y: -146px;
$s-pink-cross-width: 12px;
$s-pink-cross-height: 12px;
$s-pink-cross-total-width: 336px;
$s-pink-cross-total-height: 199px;
$s-pink-cross-image: '../images/icons.png';
$s-pink-cross: 323px 146px -323px -146px 12px 12px 336px 199px '../images/icons.png';
$s-pink-plus-x: 312px;
$s-pink-plus-y: 185px;
$s-pink-plus-offset-x: -312px;
$s-pink-plus-offset-y: -185px;
$s-pink-plus-width: 12px;
$s-pink-plus-height: 12px;
$s-pink-plus-total-width: 336px;
$s-pink-plus-total-height: 199px;
$s-pink-plus-image: '../images/icons.png';
$s-pink-plus: 312px 185px -312px -185px 12px 12px 336px 199px '../images/icons.png';
$s-place-x: 279px;
$s-place-y: 185px;
$s-place-offset-x: -279px;
$s-place-offset-y: -185px;
$s-place-width: 8px;
$s-place-height: 12px;
$s-place-total-width: 336px;
$s-place-total-height: 199px;
$s-place-image: '../images/icons.png';
$s-place: 279px 185px -279px -185px 8px 12px 336px 199px '../images/icons.png';
$s-pregnant__time-x: 270px;
$s-pregnant__time-y: 166px;
$s-pregnant__time-offset-x: -270px;
$s-pregnant__time-offset-y: -166px;
$s-pregnant__time-width: 14px;
$s-pregnant__time-height: 14px;
$s-pregnant__time-total-width: 336px;
$s-pregnant__time-total-height: 199px;
$s-pregnant__time-image: '../images/icons.png';
$s-pregnant__time: 270px 166px -270px -166px 14px 14px 336px 199px '../images/icons.png';
$s-right-arrow-x: 183px;
$s-right-arrow-y: 111px;
$s-right-arrow-offset-x: -183px;
$s-right-arrow-offset-y: -111px;
$s-right-arrow-width: 8px;
$s-right-arrow-height: 7px;
$s-right-arrow-total-width: 336px;
$s-right-arrow-total-height: 199px;
$s-right-arrow-image: '../images/icons.png';
$s-right-arrow: 183px 111px -183px -111px 8px 7px 336px 199px '../images/icons.png';
$s-search-x: 266px;
$s-search-y: 125px;
$s-search-offset-x: -266px;
$s-search-offset-y: -125px;
$s-search-width: 16px;
$s-search-height: 16px;
$s-search-total-width: 336px;
$s-search-total-height: 199px;
$s-search-image: '../images/icons.png';
$s-search: 266px 125px -266px -125px 16px 16px 336px 199px '../images/icons.png';
$s-share-x: 299px;
$s-share-y: 76px;
$s-share-offset-x: -299px;
$s-share-offset-y: -76px;
$s-share-width: 17px;
$s-share-height: 18px;
$s-share-total-width: 336px;
$s-share-total-height: 199px;
$s-share-image: '../images/icons.png';
$s-share: 299px 76px -299px -76px 17px 18px 336px 199px '../images/icons.png';
$s-slash-x: 309px;
$s-slash-y: 44px;
$s-slash-offset-x: -309px;
$s-slash-offset-y: -44px;
$s-slash-width: 11px;
$s-slash-height: 26px;
$s-slash-total-width: 336px;
$s-slash-total-height: 199px;
$s-slash-image: '../images/icons.png';
$s-slash: 309px 44px -309px -44px 11px 26px 336px 199px '../images/icons.png';
$s-smile-x: 274px;
$s-smile-y: 76px;
$s-smile-offset-x: -274px;
$s-smile-offset-y: -76px;
$s-smile-width: 20px;
$s-smile-height: 20px;
$s-smile-total-width: 336px;
$s-smile-total-height: 199px;
$s-smile-image: '../images/icons.png';
$s-smile: 274px 76px -274px -76px 20px 20px 336px 199px '../images/icons.png';
$s-time-x: 289px;
$s-time-y: 166px;
$s-time-offset-x: -289px;
$s-time-offset-y: -166px;
$s-time-width: 12px;
$s-time-height: 12px;
$s-time-total-width: 336px;
$s-time-total-height: 199px;
$s-time-image: '../images/icons.png';
$s-time: 289px 166px -289px -166px 12px 12px 336px 199px '../images/icons.png';
$s-title--category-menu-x: 266px;
$s-title--category-menu-y: 146px;
$s-title--category-menu-offset-x: -266px;
$s-title--category-menu-offset-y: -146px;
$s-title--category-menu-width: 15px;
$s-title--category-menu-height: 15px;
$s-title--category-menu-total-width: 336px;
$s-title--category-menu-total-height: 199px;
$s-title--category-menu-image: '../images/icons.png';
$s-title--category-menu: 266px 146px -266px -146px 15px 15px 336px 199px '../images/icons.png';
$s-ul-x: 150px;
$s-ul-y: 111px;
$s-ul-offset-x: -150px;
$s-ul-offset-y: -111px;
$s-ul-width: 12px;
$s-ul-height: 10px;
$s-ul-total-width: 336px;
$s-ul-total-height: 199px;
$s-ul-image: '../images/icons.png';
$s-ul: 150px 111px -150px -111px 12px 10px 336px 199px '../images/icons.png';
$s-user-menu__item--active-x: 245px;
$s-user-menu__item--active-y: 102px;
$s-user-menu__item--active-offset-x: -245px;
$s-user-menu__item--active-offset-y: -102px;
$s-user-menu__item--active-width: 35px;
$s-user-menu__item--active-height: 18px;
$s-user-menu__item--active-total-width: 336px;
$s-user-menu__item--active-total-height: 199px;
$s-user-menu__item--active-image: '../images/icons.png';
$s-user-menu__item--active: 245px 102px -245px -102px 35px 18px 336px 199px '../images/icons.png';
$s-wifi-x: 305px;
$s-wifi-y: 146px;
$s-wifi-offset-x: -305px;
$s-wifi-offset-y: -146px;
$s-wifi-width: 13px;
$s-wifi-height: 14px;
$s-wifi-total-width: 336px;
$s-wifi-total-height: 199px;
$s-wifi-image: '../images/icons.png';
$s-wifi: 305px 146px -305px -146px 13px 14px 336px 199px '../images/icons.png';
$s-woman-x: 321px;
$s-woman-y: 76px;
$s-woman-offset-x: -321px;
$s-woman-offset-y: -76px;
$s-woman-width: 14px;
$s-woman-height: 16px;
$s-woman-total-width: 336px;
$s-woman-total-height: 199px;
$s-woman-image: '../images/icons.png';
$s-woman: 321px 76px -321px -76px 14px 16px 336px 199px '../images/icons.png';
$s-women-x: 287px;
$s-women-y: 125px;
$s-women-offset-x: -287px;
$s-women-offset-y: -125px;
$s-women-width: 21px;
$s-women-height: 16px;
$s-women-total-width: 336px;
$s-women-total-height: 199px;
$s-women-image: '../images/icons.png';
$s-women: 287px 125px -287px -125px 21px 16px 336px 199px '../images/icons.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
