/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$s-alert--denied-x: 53px;
$s-alert--denied-y: 192px;
$s-alert--denied-offset-x: -53px;
$s-alert--denied-offset-y: -192px;
$s-alert--denied-width: 11px;
$s-alert--denied-height: 10px;
$s-alert--denied-total-width: 244px;
$s-alert--denied-total-height: 202px;
$s-alert--denied-image: '../images/icons.png';
$s-alert--denied: 53px 192px -53px -192px 11px 10px 244px 202px '../images/icons.png';
$s-blue-cross-x: 43px;
$s-blue-cross-y: 173px;
$s-blue-cross-offset-x: -43px;
$s-blue-cross-offset-y: -173px;
$s-blue-cross-width: 12px;
$s-blue-cross-height: 12px;
$s-blue-cross-total-width: 244px;
$s-blue-cross-total-height: 202px;
$s-blue-cross-image: '../images/icons.png';
$s-blue-cross: 43px 173px -43px -173px 12px 12px 244px 202px '../images/icons.png';
$s-camera-blue-x: 95px;
$s-camera-blue-y: 68px;
$s-camera-blue-offset-x: -95px;
$s-camera-blue-offset-y: -68px;
$s-camera-blue-width: 24px;
$s-camera-blue-height: 21px;
$s-camera-blue-total-width: 244px;
$s-camera-blue-total-height: 202px;
$s-camera-blue-image: '../images/icons.png';
$s-camera-blue: 95px 68px -95px -68px 24px 21px 244px 202px '../images/icons.png';
$s-camera-pink-x: 204px;
$s-camera-pink-y: 141px;
$s-camera-pink-offset-x: -204px;
$s-camera-pink-offset-y: -141px;
$s-camera-pink-width: 16px;
$s-camera-pink-height: 15px;
$s-camera-pink-total-width: 244px;
$s-camera-pink-total-height: 202px;
$s-camera-pink-image: '../images/icons.png';
$s-camera-pink: 204px 141px -204px -141px 16px 15px 244px 202px '../images/icons.png';
$s-category-menu__item--active-x: 197px;
$s-category-menu__item--active-y: 127px;
$s-category-menu__item--active-offset-x: -197px;
$s-category-menu__item--active-offset-y: -127px;
$s-category-menu__item--active-width: 6px;
$s-category-menu__item--active-height: 6px;
$s-category-menu__item--active-total-width: 244px;
$s-category-menu__item--active-total-height: 202px;
$s-category-menu__item--active-image: '../images/icons.png';
$s-category-menu__item--active: 197px 127px -197px -127px 6px 6px 244px 202px '../images/icons.png';
$s-category-menu__item--inner-x: 234px;
$s-category-menu__item--inner-y: 95px;
$s-category-menu__item--inner-offset-x: -234px;
$s-category-menu__item--inner-offset-y: -95px;
$s-category-menu__item--inner-width: 8px;
$s-category-menu__item--inner-height: 7px;
$s-category-menu__item--inner-total-width: 244px;
$s-category-menu__item--inner-total-height: 202px;
$s-category-menu__item--inner-image: '../images/icons.png';
$s-category-menu__item--inner: 234px 95px -234px -95px 8px 7px 244px 202px '../images/icons.png';
$s-category-menu__item-x: 186px;
$s-category-menu__item-y: 127px;
$s-category-menu__item-offset-x: -186px;
$s-category-menu__item-offset-y: -127px;
$s-category-menu__item-width: 6px;
$s-category-menu__item-height: 6px;
$s-category-menu__item-total-width: 244px;
$s-category-menu__item-total-height: 202px;
$s-category-menu__item-image: '../images/icons.png';
$s-category-menu__item: 186px 127px -186px -127px 6px 6px 244px 202px '../images/icons.png';
$s-child-big-x: 0px;
$s-child-big-y: 0px;
$s-child-big-offset-x: 0px;
$s-child-big-offset-y: 0px;
$s-child-big-width: 90px;
$s-child-big-height: 90px;
$s-child-big-total-width: 244px;
$s-child-big-total-height: 202px;
$s-child-big-image: '../images/icons.png';
$s-child-big: 0px 0px 0px 0px 90px 90px 244px 202px '../images/icons.png';
$s-child-blue-x: 186px;
$s-child-blue-y: 95px;
$s-child-blue-offset-x: -186px;
$s-child-blue-offset-y: -95px;
$s-child-blue-width: 27px;
$s-child-blue-height: 27px;
$s-child-blue-total-width: 244px;
$s-child-blue-total-height: 202px;
$s-child-blue-image: '../images/icons.png';
$s-child-blue: 186px 95px -186px -95px 27px 27px 244px 202px '../images/icons.png';
$s-child-gray-x: 0px;
$s-child-gray-y: 95px;
$s-child-gray-offset-x: 0px;
$s-child-gray-offset-y: -95px;
$s-child-gray-width: 41px;
$s-child-gray-height: 41px;
$s-child-gray-total-width: 244px;
$s-child-gray-total-height: 202px;
$s-child-gray-image: '../images/icons.png';
$s-child-gray: 0px 95px 0px -95px 41px 41px 244px 202px '../images/icons.png';
$s-cogwheel-x: 80px;
$s-cogwheel-y: 141px;
$s-cogwheel-offset-x: -80px;
$s-cogwheel-offset-y: -141px;
$s-cogwheel-width: 16px;
$s-cogwheel-height: 16px;
$s-cogwheel-total-width: 244px;
$s-cogwheel-total-height: 202px;
$s-cogwheel-image: '../images/icons.png';
$s-cogwheel: 80px 141px -80px -141px 16px 16px 244px 202px '../images/icons.png';
$s-comments-x: 128px;
$s-comments-y: 173px;
$s-comments-offset-x: -128px;
$s-comments-offset-y: -173px;
$s-comments-width: 12px;
$s-comments-height: 12px;
$s-comments-total-width: 244px;
$s-comments-total-height: 202px;
$s-comments-image: '../images/icons.png';
$s-comments: 128px 173px -128px -173px 12px 12px 244px 202px '../images/icons.png';
$s-community-entries-list__item-x: 0px;
$s-community-entries-list__item-y: 141px;
$s-community-entries-list__item-offset-x: 0px;
$s-community-entries-list__item-offset-y: -141px;
$s-community-entries-list__item-width: 27px;
$s-community-entries-list__item-height: 27px;
$s-community-entries-list__item-total-width: 244px;
$s-community-entries-list__item-total-height: 202px;
$s-community-entries-list__item-image: '../images/icons.png';
$s-community-entries-list__item: 0px 141px 0px -141px 27px 27px 244px 202px '../images/icons.png';
$s-crimson-cross-x: 232px;
$s-crimson-cross-y: 173px;
$s-crimson-cross-offset-x: -232px;
$s-crimson-cross-offset-y: -173px;
$s-crimson-cross-width: 11px;
$s-crimson-cross-height: 11px;
$s-crimson-cross-total-width: 244px;
$s-crimson-cross-total-height: 202px;
$s-crimson-cross-image: '../images/icons.png';
$s-crimson-cross: 232px 173px -232px -173px 11px 11px 244px 202px '../images/icons.png';
$s-delta-blue-x: 208px;
$s-delta-blue-y: 127px;
$s-delta-blue-offset-x: -208px;
$s-delta-blue-offset-y: -127px;
$s-delta-blue-width: 6px;
$s-delta-blue-height: 5px;
$s-delta-blue-total-width: 244px;
$s-delta-blue-total-height: 202px;
$s-delta-blue-image: '../images/icons.png';
$s-delta-blue: 208px 127px -208px -127px 6px 5px 244px 202px '../images/icons.png';
$s-delta-down-x: 219px;
$s-delta-down-y: 127px;
$s-delta-down-offset-x: -219px;
$s-delta-down-offset-y: -127px;
$s-delta-down-width: 6px;
$s-delta-down-height: 5px;
$s-delta-down-total-width: 244px;
$s-delta-down-total-height: 202px;
$s-delta-down-image: '../images/icons.png';
$s-delta-down: 219px 127px -219px -127px 6px 5px 244px 202px '../images/icons.png';
$s-delta-pink-x: 230px;
$s-delta-pink-y: 127px;
$s-delta-pink-offset-x: -230px;
$s-delta-pink-offset-y: -127px;
$s-delta-pink-width: 6px;
$s-delta-pink-height: 5px;
$s-delta-pink-total-width: 244px;
$s-delta-pink-total-height: 202px;
$s-delta-pink-image: '../images/icons.png';
$s-delta-pink: 230px 127px -230px -127px 6px 5px 244px 202px '../images/icons.png';
$s-diary-x: 166px;
$s-diary-y: 141px;
$s-diary-offset-x: -166px;
$s-diary-offset-y: -141px;
$s-diary-width: 14px;
$s-diary-height: 15px;
$s-diary-total-width: 244px;
$s-diary-total-height: 202px;
$s-diary-image: '../images/icons.png';
$s-diary: 166px 141px -166px -141px 14px 15px 244px 202px '../images/icons.png';
$s-exit-x: 162px;
$s-exit-y: 173px;
$s-exit-offset-x: -162px;
$s-exit-offset-y: -173px;
$s-exit-width: 15px;
$s-exit-height: 12px;
$s-exit-total-width: 244px;
$s-exit-total-height: 202px;
$s-exit-image: '../images/icons.png';
$s-exit: 162px 173px -162px -173px 15px 12px 244px 202px '../images/icons.png';
$s-gray-cross-x: 145px;
$s-gray-cross-y: 173px;
$s-gray-cross-offset-x: -145px;
$s-gray-cross-offset-y: -173px;
$s-gray-cross-width: 12px;
$s-gray-cross-height: 12px;
$s-gray-cross-total-width: 244px;
$s-gray-cross-total-height: 202px;
$s-gray-cross-image: '../images/icons.png';
$s-gray-cross: 145px 173px -145px -173px 12px 12px 244px 202px '../images/icons.png';
$s-gray-like-x: 215px;
$s-gray-like-y: 173px;
$s-gray-like-offset-x: -215px;
$s-gray-like-offset-y: -173px;
$s-gray-like-width: 12px;
$s-gray-like-height: 11px;
$s-gray-like-total-width: 244px;
$s-gray-like-total-height: 202px;
$s-gray-like-image: '../images/icons.png';
$s-gray-like: 215px 173px -215px -173px 12px 11px 244px 202px '../images/icons.png';
$s-green-check-x: 36px;
$s-green-check-y: 192px;
$s-green-check-offset-x: -36px;
$s-green-check-offset-y: -192px;
$s-green-check-width: 12px;
$s-green-check-height: 10px;
$s-green-check-total-width: 244px;
$s-green-check-total-height: 202px;
$s-green-check-image: '../images/icons.png';
$s-green-check: 36px 192px -36px -192px 12px 10px 244px 202px '../images/icons.png';
$s-house-x: 198px;
$s-house-y: 173px;
$s-house-offset-x: -198px;
$s-house-offset-y: -173px;
$s-house-width: 12px;
$s-house-height: 11px;
$s-house-total-width: 244px;
$s-house-total-height: 202px;
$s-house-image: '../images/icons.png';
$s-house: 198px 173px -198px -173px 12px 11px 244px 202px '../images/icons.png';
$s-letter-small-x: 17px;
$s-letter-small-y: 192px;
$s-letter-small-offset-x: -17px;
$s-letter-small-offset-y: -192px;
$s-letter-small-width: 14px;
$s-letter-small-height: 10px;
$s-letter-small-total-width: 244px;
$s-letter-small-total-height: 202px;
$s-letter-small-image: '../images/icons.png';
$s-letter-small: 17px 192px -17px -192px 14px 10px 244px 202px '../images/icons.png';
$s-letter-x: 18px;
$s-letter-y: 173px;
$s-letter-offset-x: -18px;
$s-letter-offset-y: -173px;
$s-letter-width: 20px;
$s-letter-height: 14px;
$s-letter-total-width: 244px;
$s-letter-total-height: 202px;
$s-letter-image: '../images/icons.png';
$s-letter: 18px 173px -18px -173px 20px 14px 244px 202px '../images/icons.png';
$s-like-pink-x: 149px;
$s-like-pink-y: 68px;
$s-like-pink-offset-x: -149px;
$s-like-pink-offset-y: -68px;
$s-like-pink-width: 18px;
$s-like-pink-height: 18px;
$s-like-pink-total-width: 244px;
$s-like-pink-total-height: 202px;
$s-like-pink-image: '../images/icons.png';
$s-like-pink: 149px 68px -149px -68px 18px 18px 244px 202px '../images/icons.png';
$s-lock-x: 182px;
$s-lock-y: 173px;
$s-lock-offset-x: -182px;
$s-lock-offset-y: -173px;
$s-lock-width: 11px;
$s-lock-height: 12px;
$s-lock-total-width: 244px;
$s-lock-total-height: 202px;
$s-lock-image: '../images/icons.png';
$s-lock: 182px 173px -182px -173px 11px 12px 244px 202px '../images/icons.png';
$s-logo-header--fixed-x: 46px;
$s-logo-header--fixed-y: 95px;
$s-logo-header--fixed-offset-x: -46px;
$s-logo-header--fixed-offset-y: -95px;
$s-logo-header--fixed-width: 91px;
$s-logo-header--fixed-height: 39px;
$s-logo-header--fixed-total-width: 244px;
$s-logo-header--fixed-total-height: 202px;
$s-logo-header--fixed-image: '../images/icons.png';
$s-logo-header--fixed: 46px 95px -46px -95px 91px 39px 244px 202px '../images/icons.png';
$s-logo-header-x: 95px;
$s-logo-header-y: 0px;
$s-logo-header-offset-x: -95px;
$s-logo-header-offset-y: 0px;
$s-logo-header-width: 149px;
$s-logo-header-height: 63px;
$s-logo-header-total-width: 244px;
$s-logo-header-total-height: 202px;
$s-logo-header-image: '../images/icons.png';
$s-logo-header: 95px 0px -95px 0px 149px 63px 244px 202px '../images/icons.png';
$s-online-x: 60px;
$s-online-y: 173px;
$s-online-offset-x: -60px;
$s-online-offset-y: -173px;
$s-online-width: 12px;
$s-online-height: 12px;
$s-online-total-width: 244px;
$s-online-total-height: 202px;
$s-online-image: '../images/icons.png';
$s-online: 60px 173px -60px -173px 12px 12px 244px 202px '../images/icons.png';
$s-pencil-x: 185px;
$s-pencil-y: 141px;
$s-pencil-offset-x: -185px;
$s-pencil-offset-y: -141px;
$s-pencil-width: 14px;
$s-pencil-height: 15px;
$s-pencil-total-width: 244px;
$s-pencil-total-height: 202px;
$s-pencil-image: '../images/icons.png';
$s-pencil: 185px 141px -185px -141px 14px 15px 244px 202px '../images/icons.png';
$s-photo-icon-x: 32px;
$s-photo-icon-y: 141px;
$s-photo-icon-offset-x: -32px;
$s-photo-icon-offset-y: -141px;
$s-photo-icon-width: 22px;
$s-photo-icon-height: 17px;
$s-photo-icon-total-width: 244px;
$s-photo-icon-total-height: 202px;
$s-photo-icon-image: '../images/icons.png';
$s-photo-icon: 32px 141px -32px -141px 22px 17px 244px 202px '../images/icons.png';
$s-pink-cross-x: 94px;
$s-pink-cross-y: 173px;
$s-pink-cross-offset-x: -94px;
$s-pink-cross-offset-y: -173px;
$s-pink-cross-width: 12px;
$s-pink-cross-height: 12px;
$s-pink-cross-total-width: 244px;
$s-pink-cross-total-height: 202px;
$s-pink-cross-image: '../images/icons.png';
$s-pink-cross: 94px 173px -94px -173px 12px 12px 244px 202px '../images/icons.png';
$s-pink-plus-x: 111px;
$s-pink-plus-y: 173px;
$s-pink-plus-offset-x: -111px;
$s-pink-plus-offset-y: -173px;
$s-pink-plus-width: 12px;
$s-pink-plus-height: 12px;
$s-pink-plus-total-width: 244px;
$s-pink-plus-total-height: 202px;
$s-pink-plus-image: '../images/icons.png';
$s-pink-plus: 111px 173px -111px -173px 12px 12px 244px 202px '../images/icons.png';
$s-place-x: 234px;
$s-place-y: 68px;
$s-place-offset-x: -234px;
$s-place-offset-y: -68px;
$s-place-width: 8px;
$s-place-height: 12px;
$s-place-total-width: 244px;
$s-place-total-height: 202px;
$s-place-image: '../images/icons.png';
$s-place: 234px 68px -234px -68px 8px 12px 244px 202px '../images/icons.png';
$s-pregnant__time-x: 225px;
$s-pregnant__time-y: 141px;
$s-pregnant__time-offset-x: -225px;
$s-pregnant__time-offset-y: -141px;
$s-pregnant__time-width: 14px;
$s-pregnant__time-height: 14px;
$s-pregnant__time-total-width: 244px;
$s-pregnant__time-total-height: 202px;
$s-pregnant__time-image: '../images/icons.png';
$s-pregnant__time: 225px 141px -225px -141px 14px 14px 244px 202px '../images/icons.png';
$s-repair-x: 142px;
$s-repair-y: 95px;
$s-repair-offset-x: -142px;
$s-repair-offset-y: -95px;
$s-repair-width: 39px;
$s-repair-height: 39px;
$s-repair-total-width: 244px;
$s-repair-total-height: 202px;
$s-repair-image: '../images/icons.png';
$s-repair: 142px 95px -142px -95px 39px 39px 244px 202px '../images/icons.png';
$s-right-arrow-x: 234px;
$s-right-arrow-y: 107px;
$s-right-arrow-offset-x: -234px;
$s-right-arrow-offset-y: -107px;
$s-right-arrow-width: 8px;
$s-right-arrow-height: 7px;
$s-right-arrow-total-width: 244px;
$s-right-arrow-total-height: 202px;
$s-right-arrow-image: '../images/icons.png';
$s-right-arrow: 234px 107px -234px -107px 8px 7px 244px 202px '../images/icons.png';
$s-search-x: 59px;
$s-search-y: 141px;
$s-search-offset-x: -59px;
$s-search-offset-y: -141px;
$s-search-width: 16px;
$s-search-height: 16px;
$s-search-total-width: 244px;
$s-search-total-height: 202px;
$s-search-image: '../images/icons.png';
$s-search: 59px 141px -59px -141px 16px 16px 244px 202px '../images/icons.png';
$s-share-x: 212px;
$s-share-y: 68px;
$s-share-offset-x: -212px;
$s-share-offset-y: -68px;
$s-share-width: 17px;
$s-share-height: 18px;
$s-share-total-width: 244px;
$s-share-total-height: 202px;
$s-share-image: '../images/icons.png';
$s-share: 212px 68px -212px -68px 17px 18px 244px 202px '../images/icons.png';
$s-slash-x: 218px;
$s-slash-y: 95px;
$s-slash-offset-x: -218px;
$s-slash-offset-y: -95px;
$s-slash-width: 11px;
$s-slash-height: 26px;
$s-slash-total-width: 244px;
$s-slash-total-height: 202px;
$s-slash-image: '../images/icons.png';
$s-slash: 218px 95px -218px -95px 11px 26px 244px 202px '../images/icons.png';
$s-smile-x: 124px;
$s-smile-y: 68px;
$s-smile-offset-x: -124px;
$s-smile-offset-y: -68px;
$s-smile-width: 20px;
$s-smile-height: 20px;
$s-smile-total-width: 244px;
$s-smile-total-height: 202px;
$s-smile-image: '../images/icons.png';
$s-smile: 124px 68px -124px -68px 20px 20px 244px 202px '../images/icons.png';
$s-time-x: 77px;
$s-time-y: 173px;
$s-time-offset-x: -77px;
$s-time-offset-y: -173px;
$s-time-width: 12px;
$s-time-height: 12px;
$s-time-total-width: 244px;
$s-time-total-height: 202px;
$s-time-image: '../images/icons.png';
$s-time: 77px 173px -77px -173px 12px 12px 244px 202px '../images/icons.png';
$s-title--category-menu-x: 146px;
$s-title--category-menu-y: 141px;
$s-title--category-menu-offset-x: -146px;
$s-title--category-menu-offset-y: -141px;
$s-title--category-menu-width: 15px;
$s-title--category-menu-height: 15px;
$s-title--category-menu-total-width: 244px;
$s-title--category-menu-total-height: 202px;
$s-title--category-menu-image: '../images/icons.png';
$s-title--category-menu: 146px 141px -146px -141px 15px 15px 244px 202px '../images/icons.png';
$s-ul-x: 0px;
$s-ul-y: 192px;
$s-ul-offset-x: 0px;
$s-ul-offset-y: -192px;
$s-ul-width: 12px;
$s-ul-height: 10px;
$s-ul-total-width: 244px;
$s-ul-total-height: 202px;
$s-ul-image: '../images/icons.png';
$s-ul: 0px 192px 0px -192px 12px 10px 244px 202px '../images/icons.png';
$s-user-menu__item--active-x: 172px;
$s-user-menu__item--active-y: 68px;
$s-user-menu__item--active-offset-x: -172px;
$s-user-menu__item--active-offset-y: -68px;
$s-user-menu__item--active-width: 35px;
$s-user-menu__item--active-height: 18px;
$s-user-menu__item--active-total-width: 244px;
$s-user-menu__item--active-total-height: 202px;
$s-user-menu__item--active-image: '../images/icons.png';
$s-user-menu__item--active: 172px 68px -172px -68px 35px 18px 244px 202px '../images/icons.png';
$s-wifi-x: 0px;
$s-wifi-y: 173px;
$s-wifi-offset-x: 0px;
$s-wifi-offset-y: -173px;
$s-wifi-width: 13px;
$s-wifi-height: 14px;
$s-wifi-total-width: 244px;
$s-wifi-total-height: 202px;
$s-wifi-image: '../images/icons.png';
$s-wifi: 0px 173px 0px -173px 13px 14px 244px 202px '../images/icons.png';
$s-woman-x: 101px;
$s-woman-y: 141px;
$s-woman-offset-x: -101px;
$s-woman-offset-y: -141px;
$s-woman-width: 14px;
$s-woman-height: 16px;
$s-woman-total-width: 244px;
$s-woman-total-height: 202px;
$s-woman-image: '../images/icons.png';
$s-woman: 101px 141px -101px -141px 14px 16px 244px 202px '../images/icons.png';
$s-women-x: 120px;
$s-women-y: 141px;
$s-women-offset-x: -120px;
$s-women-offset-y: -141px;
$s-women-width: 21px;
$s-women-height: 16px;
$s-women-total-width: 244px;
$s-women-total-height: 202px;
$s-women-image: '../images/icons.png';
$s-women: 120px 141px -120px -141px 21px 16px 244px 202px '../images/icons.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
