.header{
	@include flex(flex, space-between, flex-start, row);
	padding: 15px 0;
	&__logo{
		display: inline-block;
		width: 149px;
		height: 63px;
		background-image: url(../images/temp/logo-header.png);
	}

	.form-search{
		&--header{
			margin: 0 0 10px 0;
		}
	}

	.registration-enter{
		width: 205px;
		margin: 10px 0;
		@include flex(flex, space-between, center, row, center, nowrap);
		.group{
			&--links{
				width: 151px;
			}
		}
		&__avatar{
			width: 34px;
			height: 34px;
		}
		&__link{
			border-bottom: 1px solid #bbc5d3;
			&:hover{
				border-bottom: 1px solid #2c5b91;
			}
			&--registration{
				float: right;
			}
		}
		&__link-social{
			display: inline-block;
			color: #989898;
			font-style: italic;
			margin: 10px 0 0 0;
		}
	}
}