.group{
	&--photos-wall-speed-registration{
		@include flex(flex, space-between, flex-start, row, space-between, nowrap);
	}
	&--entries{
		@include flex(flex, space-between, flex-start, row, space-between, nowrap);
	}
}

.photos-wall{
	width: 757px;
	@include flex(flex, space-between, flex-start, row, space-between, wrap);
	&__item{
		width: 79px;
		height: 79px;
		margin: 0 0 5px 0;
		&--long{
			width: 164px;
		}
	}
}

.speed-registration{
	width: 336px;
	@include box-sizing;
	border: 1px solid #efe9e6;
	background-color: #ffffff;
	padding: 30px 20px 25px;
	@include border-radius(5px);
	margin: 0 0 20px 0;
	@include box-shadow(#e6e1dd 0px 1px 1px 1px);
	&__title{
		color: #606060;
		font-size: 13px;
		display: block;
		text-align: center;
		line-height: 16px;
		margin: 0 auto 15px;
		width: 230px;
		&--top{
			font-family: 'Roboto Condensed Bold';
			font-size: 21px;
			color: #c94073;
			text-transform: uppercase;
			margin: 0 0 10px 0;
			width: 100%;
		}
	}
	&__input-line{
		margin: 0 0 15px 0;
	}
}
.new-diary-entries{
	padding: 38px 0px 27px 0;
	&__title{
		display: inline-block;
		float: left;
	}
}
.panel-diaries{
	display: inline-block;
	float: right;
	@include clearfix;
}

.entries{
	margin: 10px 0 0 0;
	width: 336px;
	padding: 15px 20px 0px 0;
	@include box-sizing;
	&--center{
		width: 405px;
		padding: 15px 35px 0px 32px;
		border-right: 1px dotted #e3e3e3;
		border-left: 1px dotted #e3e3e3;
	}
	.entry{
		margin: 0 0 25px 0;
		&__avatar{
		float: left;
		margin: 0 15px 0 0;
	}
		&__link{
			@include clearfix;
			line-height: 21px;
		}
	}
}