.btn {
	position: relative;
	display: inline-block;
	text-decoration: none;
	&--white{
		font-size: 14px;
		color: #333;
		background-color: #fff;
		padding: 9px 11px 8px 38px;
		border: 1px solid #d7cebf;
		@include border-radius(5px);
		@include box-shadow(#e6e6e6 0px 1px 1px 1px);
	}
	&--pink{
		color: #fff;
		padding: 9px 23px 8px;
		border: 1px solid #b7225c;
		@include border-radius(5px);
		@include box-shadow(#a3a3a3 0px 1px 1px 1px, #d77298 0 1px 1px inset);
		background-color: #c83e72;
	}
	&--blue{
		color: #fff;
		padding: 9px 23px 8px;
		border: 1px solid #738fad;
		@include border-radius(5px);
		@include box-shadow(#a3a3a3 0px 1px 1px 1px, #99adc3 0 1px 1px inset);
		background-color: #738fad;
	}
	&--height38{
		padding-top: 12px;
		padding-bottom: 10px;
	}
	&--height45{
		width: 187px;
		height: 45px;
		line-height: 45px;
		padding: 0;
		@include box-sizing;
		text-align: center;
		font-size: 16px;
	}
	&--long{
		width: 304px;
	}
	&--empty{
		padding: 0;
		width: 36px;
		height: 31px;
	}
	&--write{
		padding-left: 28px;
		padding-right: 24px;
	}
	&--confirm{
		padding-left: 60px;
		padding-right: 45px;
	}
	&--cancel{
		padding-left: 13px;
		padding-right: 13px;
	}
	&--send{
		padding-left: 40px;
		padding-right: 40px;
	}
	&--start-communicating{
		width: 296px;
	}

	&--icons-women{
		&:before {
			position: absolute;
			left: 10px;
			top: 50%;
			margin-top: -8px;
			content: "";
			@extend .icons--women;
		}
	}
	&--icons-letter{
		&:before {
			position: absolute;
			left: 9px;
			top: 50%;
			margin-top: -7px;
			content: "";
			@extend .icons--letter;
		}
	}
	&--icons-wifi{
		&:before {
			position: absolute;
			left: 15px;
			top: 50%;
			margin-top: -7px;
			content: "";
			@extend .icons--wifi;
		}
	}
	&--icons-cogwheel{
		&:before {
			position: absolute;
			left: 15px;
			top: 50%;
			margin-top: -8px;
			content: "";
			@extend .icons--cogwheel;
		}
	}
	&--icons-pencil{
		&:before {
			position: absolute;
			left: 15px;
			top: 50%;
			margin-top: -7px;
			content: "";
			@extend .icons--pencil;
		}
	}
	&--icons-crimson-cross{
		&:before {
			position: absolute;
			left: 15px;
			top: 50%;
			margin-top: -5px;
			content: "";
			@extend .icons--crimson-cross;
		}
	}
	&--icons-green-check{
		&:before {
			position: absolute;
			left: 40px;
			top: 50%;
			margin-top: -5px;
			content: "";
			@extend .icons--green-check;
		}
	}
}

.meta-info{
	color: #9b948f;
	font-size: 12px;
	position: relative;
	padding: 0 0 0 16px;
	&--comments{
		&:before {
			position: absolute;
			left: 0px;
			top: 0px;
			content: "";
			@extend .icons--comments;
		}
	}
	&--time{
		&:before {
			position: absolute;
			left: 0px;
			top: 0px;
			content: "";
			@extend .icons--time;
		}
	}
	&--likes{
		&:before {
			position: absolute;
			left: 0px;
			top: 0px;
			content: "";
			@extend .icons--gray-like;
		}
	}
}

.links{
	text-decoration: none;
	font-size: 14px;
	&--pink{
		color: #c22462;
		border-bottom: 1px solid #edbdd0;
		&:hover{
			border-bottom: 1px solid #c22462;
		}
	}
	&--blue{
		color: #2c5b91;
		border-bottom: 1px solid #bfcdde;
		&:hover{
			border-bottom: 1px solid #2c5b91;
		}
	}
	&--link16{
		font-size: 16px;
	}
	&--link12{
		font-size: 12px;
	}
	&--like{
		position: relative;
		margin: 0 0 0 25px;
		&:before {
			position: absolute;
			left: -25px;
			top: 0px;
			content: "";
			@extend .icons--like-pink;
		}
	}
	&--delete{
		position: relative;
		margin: 0 0 0 18px;
		&:before {
			position: absolute;
			left: -18px;
			top: 2px;
			content: "";
			@extend .icons--blue-cross;
		}
	}
	&--add{
		position: relative;
		margin: 0 0 0 15px;
		&:before {
			position: absolute;
			left: -15px;
			top: 2px;
			content: "";
			@extend .icons--pink-plus;
		}
	}
}

.form-search{
	@include clearfix;
	&__search-line{
		font-size: 14px;
		float: left;
		color: #bab6b6;
		@include border-radius(5px 0 0 5px);
		&--icons-search{
			position: relative;
			&:before {
				content: ".";
				text-indent: -9999px;
				@extend .icons--search;
				position: absolute;
				top: 8px;
				left: 8px;
			}
		}
		&--gray{
			border: 1px solid #dcdbdb;
			width: 546px;
			height: 34px;
			@include box-sizing;
			padding: 0 0 0 30px;
		}
		&--blue{
			border: 1px solid #dae6f1;
			width: 470px;
			height: 34px;
			@include box-sizing;
			padding: 0 0 0 15px;
		}
	}
	&__search-button{
		float: left;
		font-size: 14px;
		position: relative;
		left: -1px;
		@include border-radius(0 5px 5px 0);
		width: 78px;
		height: 34px;
		@include box-sizing;
		text-align: center;
		line-height: 34px;
		&--gray{
			color: #876f7d;
			border: 1px solid #dcdbdb;
			@include background-image(linear-gradient(to bottom, white, #f7f2e9));
		}
		&--blue{
			border: 1px solid #dae6f1;
			color: #3e526b;
			@include background-image(linear-gradient(to bottom, white, #cee0f0));
		}
	}
}

.add-form{
	@include clearfix;
	position: relative;
	&__add-line{
		background-color: #fff;
		font-size: 14px;
		float: left;
		color: #bab6b6;
		@include border-radius(5px 0 0 5px);
		border: 1px solid #dcdbdb;
		width: 546px;
		height: 34px;
		@include box-sizing;
		padding: 2px 0 2px 5px;
		&__user-frame{
			height: 28px;
			@include box-sizing;
			@include border-radius(5px);
			display: inline-block;
			padding: 1px 10px 1px 2px;
			background-color: #f5f9fb;
			&__name{
				color: #87496e;
				font-size: 16px;
				height: 32px;
				display: inline-block;
				vertical-align: middle;
				margin: 0 0 0 8px;
			}
		}
	}
	&__add-button{
		float: left;
		font-size: 14px;
		position: relative;
		left: -1px;
		@include border-radius(0 5px 5px 0);
		width: 45px;
		height: 34px;
		@include box-sizing;
		text-align: center;
		line-height: 34px;
		&--gray{
			color: #876f7d;
			border: 1px solid #dcdbdb;
			@include background-image(linear-gradient(to bottom, white, #f7f2e9));
		}
		&--icons-women{
			position: absolute;
			padding: 0 0 0 40px;
			line-height: 34px;
			color: #87496e;
			font-size: 16px;
			&:before {
				content: ".";
				text-indent: -9999px;
				@extend .icons--women;
				position: absolute;
				top: 10px;
				left: 10px;
				z-index: 100;
			}
		}
	}
}

.select-form{
	border: 1px solid #dcdbdb;
	font-size: 16px;
	width: 303px;
	height: 34px;
	@include box-sizing;
	@include border-radius(5px);
	&__point{
	}
}

.breadcrumbs{
	&__link{
		position: relative;
		margin: 0 0 0 30px;
		font-size: 12px;
		text-decoration: none;
		color: #2c5b91;
		border-bottom: 1px solid #bfcdde;
		&:hover{
			border-bottom: 1px solid #2c5b91;
		}
		&:before{
			position: absolute;
			left: -20px;
			top: 30%;
			content: "";
			@extend .icons--right-arrow;
		}
	}
	&__link--first{
		text-decoration: none;
		position: relative;
		margin: 0 0 0 20px;
		font-size: 12px;
		color: #2c5b91;
		border-bottom: 1px solid #bfcdde;
		&:hover{
			border-bottom: 1px solid #2c5b91;
		}
		&:before {
			position: absolute;
			left: -20px;
			top: 10%;
			content: "";
			@extend .icons--house;
		}
	}
	
	&__active{
		margin: 0 0 0 30px;
		position: relative;
		color: #999;
		font-size: 12px;
		&:before{
			position: absolute;
			left: -20px;
			top: 30%;
			content: "";
			@extend .icons--right-arrow;
		}
	}
}

.pagination{
	line-height: 28px;
	&__page{
		text-align: center;
		display: inline-block;
		width: 28px;
		height: 28px;
		margin: 0 3px 0 0;
		@include border-radius(100%);
		border: 1px solid #ddd6de;
		color: #87496e;
		font-size: 16px;
		&--active, &:hover{
			border: 1px solid #c32664;
			color: #c32664;
		}
	}
	&__prev{
		margin: 0 20px 0 0;
		&:hover{
			border-bottom: 1px solid #2c5b91;
		}
	}
	&__next{
		margin: 0 0 0 20px;
		&:hover{
			border-bottom: 1px solid #2c5b91;
		}
	}
}

.online{
	padding: 0 10px 0 15px;
	position: relative;
	color: #87496e;
	&:before {
		position: absolute;
		left: 0px;
		bottom: 1px;
		content: "";
		@extend .icons--online;
	}
	&:after {
		position: absolute;
		right: 0px;
		bottom: 3px;
		content: "";
		@extend .icons--delta-pink;
	}
}

.number{
	display: inline-block;
	padding: 3px 5px 3px;
	color: #635f59;
	font-weight: bold;
	font-size: 12px;
	border: 1px solid #eef2f6;
	@include border-radius(5px);
}

.in-frame{
	border: 1px solid #d7cebf;
	@include border-radius(5px);
	width: 28px;
	height: 28px;
	display: inline-block;
	&--child-gray{
		width: 46px;
		height: 47px;
		position: relative;
		&:before {
		position: absolute;
		left: 7px;
		top: -2px;
		content: "";
		@extend .icons--child-gray;
		}
	}
	&--camera-pink{
		position: relative;
		&:before {
		position: absolute;
		left: 6px;
		top: 6px;
		content: "";
		@extend .icons--camera-pink;
		}
	}
	&--pencil{
		position: relative;
		&:before {
		position: absolute;
		left: 8px;
		top: 6px;
		content: "";
		@extend .icons--pencil;
		}
	}
}

.add{
	display: inline-block;
	border: 1px solid #dae6f1;
	background-color: #f5f9fb;
	width: 303px;
	height: 44px;
	@include border-radius(5px);
	@include box-sizing;
	text-align: center;
	color: #3e526b;
	font-size: 14px;
	line-height: 44px;
	&--child{
		position: relative;
		&:before {
		position: absolute;
		left: 10px;
		top: 7px;
		content: "";
		@extend .icons--child-blue;
		}
	}
	&--photo{
		position: relative;
		&:before {
		position: absolute;
		left: 10px;
		top: 10px;
		content: "";
		@extend .icons--camera-blue;
		}
	}
}
.select-file {
	display: inline-block;
	border: 1px solid #dae6f1;
	background-color: #f5f9fb;
	width: 169px;
	height: 169px;
	@include border-radius(5px);
	@include box-sizing;
	text-align: center;
	color: #6c89a9;
	font-size: 16px;
	padding-top: 135px;
	&--child{
		position: relative;
		&:before {
		position: absolute;
		left: 50%;
		margin-left: -45px;
		top: 25px;
		content: "";
		@extend .icons--child-big;
		}
	}
}
.textbox{
	width: 487px;
	height: 161px;
	@include box-sizing;
	@include border-radius(5px);
	border: 1px solid #dcdbdb;
	resize: none;
}

.input-line{
	font-size: 14px;
	color: #b6b6b6;
	padding: 10px 11px 10px 40px;
	border: 1px solid #ebe5dc;
	@include border-radius(5px);
	@include box-shadow(#ebe5dc 0px -1px 1px 1px);
	width: 243px;
	&--icons-woman{
		position: relative;
		&:before {
			content: ".";
			text-indent: -9999px;
			@extend .icons--woman;
			position: absolute;
			top: 0px;
			left: 12px;
		}
	}
	&--icons-letter-small{
		position: relative;
		&:before {
			content: ".";
			text-indent: -9999px;
			@extend .icons--letter-small;
			position: absolute;
			top: 3px;
			left: 12px;
		}
	}
	&--icons-lock{
		position: relative;
		&:before {
			content: ".";
			text-indent: -9999px;
			@extend .icons--lock;
			position: absolute;
			top: 2px;
			left: 12px;
		}
	}
}

.icons {
	display: inline-block;
	&--house{
		@include background-small(house, 0);
		@include sprite-dimensions($icons1, house);
	}
	&--right-arrow{
		@include background-small(right-arrow, 0);
		@include sprite-dimensions($icons1, right-arrow);
	}
	&--pink-cross{
		@include background-small(pink-cross, 0);
		@include sprite-dimensions($icons1, pink-cross);
	}
	&--gray-cross{
		@include background-small(gray-cross, 0);
		@include sprite-dimensions($icons1, gray-cross);
	}
	&--exit{
		@include background-small(exit, 0);
		@include sprite-dimensions($icons1, exit);
	}
	&--comments{
		@include background-small(comments, 0);
		@include sprite-dimensions($icons1, comments);
	}
	&--time{
		@include background-small(time, 0);
		@include sprite-dimensions($icons1, time);
	}
	&--gray-like{
		@include background-small(gray-like, 0);
		@include sprite-dimensions($icons1, gray-like);
	}
	&--delta-blue{
		@include background-small(delta-blue, 0);
		@include sprite-dimensions($icons1, delta-blue);
	}
	&--blue-cross{
		@include background-small(blue-cross, 0);
		@include sprite-dimensions($icons1, blue-cross);
	}
	&--pink-plus{
		@include background-small(pink-plus, 0);
		@include sprite-dimensions($icons1, pink-plus);
	}
	&--online{
		@include background-small(online, 0);
		@include sprite-dimensions($icons1, online);
	}
	&--delta-pink{
		@include background-small(delta-pink, 0);
		@include sprite-dimensions($icons1, delta-pink);
	}
	&--crimson-cross{
		@include background-small(crimson-cross, 0);
		@include sprite-dimensions($icons1, crimson-cross);
	}
	&--green-check{
		@include background-small(green-check, 0);
		@include sprite-dimensions($icons1, green-check);
	}
	&--letter-small{
		@include background-small(letter-small, 0);
		@include sprite-dimensions($icons1, letter-small);
	}
	&--lock{
		@include background-small(lock, 0);
		@include sprite-dimensions($icons1, lock);
	}
	//background-big
	&--smile{
		@include background-big(smile, 0);
		@include sprite-dimensions($icons2, smile);
	}
	&--photo-icon{
		@include background-big(photo-icon, 0);
		@include sprite-dimensions($icons2, photo-icon);
	}
	&--share{
		@include background-big(share, 0);
		@include sprite-dimensions($icons2, share);
	}
	&--search{
		@include background-big(search, 0);
		@include sprite-dimensions($icons2, search);
	}
	&--child-gray{
		@include background-big(child-gray, 0);
		@include sprite-dimensions($icons2, child-gray);
	}
	&--camera-pink{
		@include background-big(camera-pink, 0);
		@include sprite-dimensions($icons2, camera-pink);
	}
	&--pencil{
		@include background-big(pencil, 0);
		@include sprite-dimensions($icons2, pencil);
	}
	&--child-big{
		@include background-big(child-big, 0);
		@include sprite-dimensions($icons2, child-big);
	}
	&--child-blue{
		@include background-big(child-blue, 0);
		@include sprite-dimensions($icons2, child-blue);
	}
	&--women{
		@include background-big(women, 0);
		@include sprite-dimensions($icons2, women);
	}
	&--like-pink{
		@include background-big(like-pink, 0);
		@include sprite-dimensions($icons2, like-pink);
	}
	&--camera-blue{
		@include background-big(camera-blue, 0);
		@include sprite-dimensions($icons2, camera-blue);
	}
	&--letter{
		@include background-big(letter, 0);
		@include sprite-dimensions($icons2, letter);
	}
	&--cogwheel{
		@include background-big(cogwheel, 0);
		@include sprite-dimensions($icons2, cogwheel);
	}
	&--wifi{
		@include background-big(wifi, 0);
		@include sprite-dimensions($icons2, wifi);
	}
	&--smile{
		@include background-big(smile, 0);
		@include sprite-dimensions($icons2, smile);
	}
	&--woman{
		@include background-big(woman, 0);
		@include sprite-dimensions($icons2, woman);
	}
}

.title {
	font-family: 'Roboto Condensed Bold';
	text-transform: uppercase;
	font-size: 18px;
	color: #c22462;
	&--first-word-color {
		color: #3e526b;
	}
}

.label {
	font-size: 16px;
	color: #c22462;
	font-weight: bold;
}